<div class="form-content">
 <%= form_for @comment, :remote => true do |f| %>
    <%= f.text_area :content %>
    <%= f.submit t("update_comment"), :class=>"minibutton", :remote => true, :id => "comment_btn" %>
  <% end %>
</div>
