<div class="form-content">
 <%= form_for @comment, :remote => true do |f| %>
    <%= f.text_area :content %>
    <div class="form-actions clearfix">
      <%= link_to "取消", '#', :class => "minibutton danger comment-cancel-btn" %>
      <%= f.submit t("update_comment"), :class => "minibutton",
                                        :remote => true,
                                        :id => "comment_btn" %>
    </div>
  <% end %>
</div>
