@mixin onestep-shadow {
  -webkit-box-shadow: 0 0 6px $light-gray;
  -moz-box-shadow: 0 0 6px $light-gray;
  box-shadow: 0 0 6px $light-gray;
}
@mixin no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin textarea-style {
  display: inline-block;
  border: 1px solid darken($light-gray, 20%);
  font-size: 120%;
  @include rounded-corners(3px);
  @include no-shadow;
  &:focus
  {
    border: 1px solid darken($light-gray, 50%) ;
    @include onestep-shadow;
  }
}

@mixin markdown-style {
  ul {
    padding-left: 30px;
  }
  h1 {
    font-size: 18px;
    font-weight: normal;
    color: rgb(0, 153, 138);
  }
  h2 {
    font-size: 14px;
    font-weight: normal;
    color: rgb(0, 153, 138);
  }
  img {
    padding: 1px;
    border: 1px solid #EEE;
  }
  blockquote {
    font-style: italic;
    position: relative;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid rgba(170, 170, 170, 0.5);

  }
}

@mixin link-scale($scale: 1.01) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}
