// Global variables that you can use anywhere.

//describable variables
$light-gray: #ececec;
$dark-gray: #666; //rgb(102, 102, 102);
$dark-gray-a: #aaa;
$light-blue: #7ac9de;
$custom-green: #008C7E; /* http://www.sunshine-library.org/q-a/ */
$custom-green-a: #529f86;
$flatui-peter-river: #3498db;

//functional variables
$font-gray: $dark-gray;
$link-green: $custom-green;
$background-green: $custom-green-a;
$background-gray: $dark-gray-a;
$flash-background: $flatui-peter-river;
