<% case notification.action %>
<% when "create" %>
  <% video = notification.notifiable %>
  <td class="notificon"><i class="icon-play-circle icon-2x"></i></td>
  <td>
    <%= render :partial => "notification_executor", :locals => { :executor => executor} %>
    <span class="annotate">为你关注的课程： </span>
    <%= link_to video.course.name, course_path(video.course) %>
    <span class="annotate"> 添加了新视频： </span>
    <%= video.title %>
  </td>
<% end %>
