<% executor = notification.executor %>

<% case notification.action %>
<% when "watch" %>
  <td class="notificon"><i class="fa fa-eye fa-2x"></i></td>
  <td class="avatar">
    <%= link_to member_path(executor.name) do %>
      <%= image_tag executor.final_avatar_url, :class => "gavatar", :width => "30x30" %>
    <% end %>
  </td>
  <td class="event">
    <%= render :partial => "notification_executor", :locals => { :notification => notification } %>
    <% course = notification.notifiable %>
    <span class="annotate">关注了你的课程: </span>
    <%= link_to course.title, course_path(course) %>
  </td>
<% end %>
