<div id="notifications">
  <div class="container details">
    <div class="title">
      <h3>通知提醒<small> (<%= @notifications.count  %> 条)</small></h3>
    </div>
    <% if @notifications.blank? %>
      <div class="no-result">
        暂无通知
      </div>
    <% else %>
      <table class="content">
        <tbody>
          <% for notification in @notifications %>
            <tr <%= "class=highlight" if notification.unread %>><%= render notification %></tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
