<div id="notifications">
  <div class="container details">
    <div class="title">
      <h3>通知提醒<small> (<%= @notifications.count  %> 条)</small></h3>
    </div>
    <% if @notifications.blank? %>
      <div class="no-result">
        暂无通知
      </div>
    <% else %>
      <table class="content">
        <tbody>
          <% for notification in @notifications %>
            <% if !notification.notifiable.blank? %>
              <% type = notification.notifiable.class.name.underscore %>
              <% executor = notification.executor %>
              <tr <%= "class=highlight" if notification.unread %>>
                <%= render :partial => "notification_#{type}", :locals => { :notification => notification, :executor => executor }%>
                <td><%= time_ago_in_words notification.created_at %>前</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
