.box {
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #E2E2E9;
  margin-bottom: 20px;

  .cell, .box-header {
    padding: 10px;
    border-bottom: 1px solid #F0F0F0;
  }

  .inner {
    padding: 10px;
  }

  .header {
    padding: 10px;
    border-bottom: 1px solid #E2E2E2;
  }
}

