@import "globals/variables";
@import "globals/mixins";

body {
  position: relative;
  font-size: 20px;
  word-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: $link-green;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  clear: both;
  margin: 15px 0;
  height: 0;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 1px solid #DDD;
}
/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

/* Faded out hr for small top&bottom margin */
hr.small_soften {
  height: 1px;
  margin: 2em 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
h1, h2{
  font-weight: normal;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: whiteSmoke;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  code {
    margin: 0;
    border: 0;
    padding: 0;
  }
}

code {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}

hr {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.light-shadow {
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}



.chinese {
  font-family: 'Microsoft YaHei', 微软雅黑, 'SimSun', Arial, Lucida Grande, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: $font-gray;
  letter-spacing: 0;
}

//use same input line height, add this line due to button height style
input {
  line-height: 22px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.single-form-container {
  width: 500px;
  margin: 20px auto;
}

.flash-message {
  background: $flash-background;
  line-height: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.label {
  padding: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.circular.label {
  min-height: 1em;
  max-height: 2em;
  padding: 0.5em !important;
  line-height: 1em;
  text-align: center;
  -webkit-border-radius: 500rem;
  -moz-border-radius: 500rem;
  border-radius: 500rem;
}
