@import "globals/variables";
@import "globals/mixins";

body {
  position: relative;
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: $link-green;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  clear: both;
  margin: 15px 0;
  height: 0;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 1px solid #DDD;
}
/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

/* Faded out hr for small top&bottom margin */
hr.small_soften {
  height: 1px;
  margin: 2em 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: whiteSmoke;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  code {
    margin: 0;
    border: 0;
    padding: 0;
  }
}

code {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}

hr {
  clear: both;
}

.right {
  float: right;
}

.chinese {
  font-family: 'Microsoft YaHei', 微软雅黑, 'SimSun', Arial, Lucida Grande, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: $font-gray;
  letter-spacing: 0;
}

.clearfix {
  clear: both;
}

input[type="text"], #adv_code_search .search-page-label, input[type="password"], input[type="email"], textarea {
  min-height: 34px;
  padding: 7px 8px;
  outline: none;
  color: #333;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.15s ease-in 0;
  -webkit-transition: all 0.15s ease-in 0;
  vertical-align: middle;
}
input[type="text"].focus, #adv_code_search .focus.search-page-label, input[type="text"]:focus, .focused .drag-and-drop, #adv_code_search .search-page-label:focus, input[type="password"].focus, input[type="password"]:focus, input[type="email"].focus, input[type="email"]:focus, textarea.focus, textarea:focus {
  border-color: #51A7E8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),0 0 5px rgba(81, 167, 232, 0.5);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#footer {
  margin: 40px 0 0 0;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 1.5;
  color: #777;
  text-shadow: 0 1px 0 white;
  .footer_nav {
    float: left;
    width: 220px;
    dt {
      color: #52595D;
      font-weight: bold;
    }
    dd {
      margin-left: 0;
    }
  }
}
.footer-divider {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px solid #EEE;
}

.green-box-shadow {
  &:hover {
    border-color: #C3CA7D;
    -webkit-box-shadow: 0 0 10px $background-green;
    text-decoration: none;
  }
}
.flash-message {
  background: $flash-background;
  line-height: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.field {
  margin: 15px 0;
  &>dt {
    margin: 0 0 6px 0;
  }
  &>dd {
    margin-left: 0;
  }
}
