@import "globals/variables";
@import "globals/mixins";

.tabnav {
  position: relative;
  margin: 10px 0;
  border-bottom: 1px solid #DDD;
  height: 35px;
  .tabnav-tabs {
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 10px;
    li {
      display: inline-block;
    }
  }
  .tabnav-tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: 0;
    padding: 8px 12px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
  }
  .tabnav-tab.selected {
    border-radius: 3px 3px 0 0;
    border-color: #DDD;
    background-color: white;
    color: #333;
    font-weight: bold;
  }
}
