<div class="avatar">
  <%= image_tag @user.final_avatar_url,:alt => t('your_avatar'), :id => "avatar" %>
</div>
<div class="menu-container">
  <ul class="menu">
    <li><a class="<%= request.path == "/account"? "active":"" %>" href="/account">帐户</a></li>
    <li><a class="<%= request.path == "/edit-avatar"? "active":"" %>" href="/edit-avatar">头像</a></li>
  </ul>
</div>
