
<div class="container">
  <div id="user_no">
    总共有<%= @users.count %> 个用户
  </div>
  <table>
    <tr>
       <th>姓名</th>
       <th>Admin?</th>
       <th>Course</th>
    </tr>
  <% if !@users.empty? %>
    <% @users.each do |user| %>
    <p>
      <tr>
        <td>
            <%= link_to user.name, member_path(user.name) %>
        </td>
        <td>
          <%if user.admin? %>
            YES
          <% else %>
            NO
          <% end %>
        </td>
        <td>
          <%= user.courses.count %>
        </td>
       </tr>
    </p>
    <% end %>
  <% else %>
    <p>
    No user found
    </p>
  <% end %>
  </table>
</div>
