<div id="user_show" class="container">
  <div id="user_name">
    name: <%= @user.name %>
  </div>
  <div id="user_email">
    Email: <%= @user.email %>
  </div>
  <%= link_to "edit profile", edit_user_path(@user) %>
  <div id="user_comments">
    comments:
    <hr>
    <% for comment in  @user.comments %>
      <%= comment.content %>
      <hr>
    <% end %>
  </div>
</div><!-- user_show -->

