- content_for :template_js do
  = javascript_include_tag 'i_fileupload'
  :javascript
    jQuery(function($) {
      var textarea = $("#{textarea_selector}");
      var _tip = $("#upload-tip");
      $('#fileupload').fileupload({
          dataType: 'json',
          url: '/blog_images.json',
          maxFileSize: 1024 * 1024 * 5,
          add: function(e, data){
            types = /(\.|\/)(gif|jpe?g|png)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name))
            {
              data.submit();
            }
            else
            {
              alert(file.name + " is not a image file");
            }
          },
          start: function(e) {
            _tip.html('图片上传中&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
              $.each(data.result, function (index, file) {
                new_pic = "\n" + "![](" + file.url + ")";
                source = textarea.val();
                pos = Math.max(textarea.caret('pos'), 0);
                startStr = source.slice(0, pos);
                endStr = source.slice(pos);
                text = startStr + new_pic + endStr;
                textarea.val(text);
                textarea.caret('pos', startStr.length + new_pic.length);
                textarea.focus();
              });
          },
          always: function(e) {
            _tip.html("上传图片");
          },
      });
    });

.pull-right
  %a.fileupload-btn.action_label
    %span#upload-tip 上传图片
    %input#fileupload{:type => 'file', :multiple => true, :name => "blog_image[asset][]"}
