<div class="header header-logged-out">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      HPCASTS
    </a>

    <ul class="top-nav">
      <li><a href="/course"><%= t("all_courses") %></a></li>
      <li><a href="/blog"><%= t("blog") %></a></li>
    </ul>

    <div class="header-actions">
      <a class="button" href="/login">Sign in</a>
    </div>

  </div>
</div>
