<div class="header header-logged-out">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      HAOQI
    </a>

    <ul class="top-nav">
      <li><a href="/about"><%= t("about") %></a></li>
      <li><a href="/blog"><%= t("blog") %></a></li>
      <li><a href="/timeline"><%= t("site_timeline") %></a></li>
    </ul>

    <div class="header-actions">
      <%= link_to t('sign_in'), login_path, class:"button" %>
    </div>

  </div>
</div>
