<div class="masthead">
  <div class="container">
    <%= render 'shared/mini_player' %>
    <div class="home-signup">
      <% if !current_user %>
        <%= render 'shared/home_signup_form' %>
      <% end %>
    </div>
  </div>
</div>
