  <div class="jumbotron masthead">
    <div class="container">
      <h1>HPCASTS</h1>
      <p>
        <%= t('tagline') %>
      </p>
      <p>
        <%= link_to t("signup"), signup_path, :class => "btn btn-success btn-large" %>
      </p>
      <ul class="masthead-links">
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>

