  <div class="masthead">
    <div class="container">
      <%= render 'shared/mini_player' %>
      <div id="site-info">
        <h1>HPCASTS</h1>
        <p>
          <%= t('tagline') %>
        </p>
      </div>
    </div>
  </div>
