  <div class="masthead">
    <div class="container">
      <%= render 'shared/mini_player' %>
      <div class="home-signup">
        <%= render 'shared/home_signup_form' %>
      </div>
    </div>
  </div>
