<div class="container">

  <div class="marketing">

    <div class="row-fluid teasers">
      <ul class="thumbnails example-sites">
        <li class="span4 teaser">
          <a class="thumbnail" href="#">
            <%= image_tag '1.png' %>
          </a>
          <h3> Web Design </h3>
          <p>科技与艺术结合， web 设计，以想象力为世界</p>
        </li>
        <li class="span4 teaser">
          <a class="thumbnail" href="#">
            <%= image_tag '2.png' %>
          </a>
          <h3> 移动应用开发 </h3>
          <p>科技与艺术结合， web 设计，以想象力为世界
            迎接移动互联新时代
          </p>
        </li>
        <li class="span4 teaser">
          <a class="thumbnail" href="#">
            <%= image_tag '3.png' %>
          </a>
          <h3> Web Development </h3>
          <p>科技与艺术结合， web 设计，以想象力为世界</p>
        </li>
      </ul>
     </div>

    <hr class="soften">

    <div class="container">
      <% if !@recent_courses.empty? %>
        <div class="row-fluid">
          <% @recent_courses.each do |course| %>
            <%= render "courses/course", :course => course %>
          <% end %>
        </div>
      <% else %>
        <p>
        No Courses found
        </p>
      <% end %>
    </div>
  </div>

</div>

