<div class="mini-player">
  <video preload width="446px" height="260px"
    src="http://media.haoqicat.com/video/intro.mov"
    type="video/mp4"
    controls="controls" preload="none">
  </video>
</div>
<% content_for :template_js do %>
  <script>
    $('video').mediaelementplayer();
  </script>
<% end %>


