<script src="http://vjs.zencdn.net/c/video.js"></script>
<div class="mini-player">
  <video id="videojs" class="video-js vjs-default-skin" width="446" height="260" controls poster="" preload="auto" data-setup="{}">
    <source src="http://media.happycasts.net/hpcasts/intro.mov" type="video/mp4"/ >
  </video>
</div>

