<div class="mini-player">
  <video id="videojs" class="video-js vjs-default-skin" controls poster="" preload="auto" data-setup="{}">
  <source src="http://media.happycasts.net/hpcasts/intro.mov" type="video/mp4"/ >
  </video>
</div>

