<div class="container">
  <div class="tag-cloud">
    <h1>为什么选择好奇猫？</h1>
    <ul>
      <li>
        <svg class="svg-tag" >
          <g transform="translate(10,10) scale(1.6)" class="svg-icon">
            <path x="30" y="30" fill="#ffffff" d="M15.653,7.25c-3.417,0-8.577,0.983-8.577,3.282c0,1.91,2.704,3.229,1.691,3.889c-1.02,0.666-2.684-1.848-4.048-1.848c-1.653,0-2.815,1.434-2.815,2.926c0,4.558,6.326,8.25,13.749,8.25c7.424,0,13.443-3.692,13.443-8.25C29.096,10.944,23.077,7.25,15.653,7.25zM10.308,13.521c0-0.645,0.887-1.166,1.98-1.166c1.093,0,1.979,0.521,1.979,1.166c0,0.644-0.886,1.166-1.979,1.166C11.195,14.687,10.308,14.164,10.308,13.521zM14.289,22.299c-1.058,0-1.914-0.68-1.914-1.518s0.856-1.518,1.914-1.518c1.057,0,1.914,0.68,1.914,1.518S15.346,22.299,14.289,22.299zM19.611,21.771c-1.057,0-1.913-0.681-1.913-1.519c0-0.84,0.856-1.521,1.913-1.521c1.059,0,1.914,0.681,1.914,1.521C21.525,21.092,20.67,21.771,19.611,21.771zM20.075,10.66c0-0.838,0.856-1.518,1.914-1.518s1.913,0.68,1.913,1.518c0,0.839-0.855,1.518-1.913,1.518C20.934,12.178,20.075,11.499,20.075,10.66zM24.275,19.482c-1.057,0-1.914-0.681-1.914-1.519s0.857-1.518,1.914-1.518c1.059,0,1.914,0.68,1.914,1.518S25.334,19.482,24.275,19.482zM25.286,15.475c-1.058,0-1.914-0.68-1.914-1.519c0-0.838,0.856-1.518,1.914-1.518c1.057,0,1.913,0.68,1.913,1.518C27.199,14.795,26.343,15.475,25.286,15.475z"/>
          </g>
        </svg>
        <div class="tag-text">
          <h2>创作很酷 </h2>
          <p>
          好奇猫旨在让创作变成很酷的事情。不管是作者的课程页面还是个人空间，从 url 的结构到每个页面的样式细节，我们都尽心雕琢，只为知识之光更加璀璨。
          </p>
        </div>
      </li>
      <li>
        <svg class="svg-tag">
          <g transform="translate(10,10) scale(1.6)" class="svg-icon">
            <path fill="#ffffff" d="M27.188,4.875v1.094h-4.5V4.875H8.062v1.094h-4.5V4.875h-1v21.25h1v-1.094h4.5v1.094h14.625v-1.094h4.5v1.094h1.25V4.875H27.188zM8.062,23.719h-4.5v-3.125h4.5V23.719zM8.062,19.281h-4.5v-3.125h4.5V19.281zM8.062,14.844h-4.5v-3.125h4.5V14.844zM8.062,10.406h-4.5V7.281h4.5V10.406zM11.247,20.59V9.754l9.382,5.418L11.247,20.59zM27.188,23.719h-4.5v-3.125h4.5V23.719zM27.188,19.281h-4.5v-3.125h4.5V19.281zM27.188,14.844h-4.5v-3.125h4.5V14.844zM27.188,10.406h-4.5V7.281h4.5V10.406z"/>
          </g>
        </svg>

        <div class="tag-text">
          <h2>想和做，距离如此近</h2>
          <p>
          不用等辛苦数天之后课程完成再发布出来了。我们鼓励将制作好的那部分视频尽早上传，以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
          </p>
        </div>
      </li>
      <li>
        <svg class="svg-tag">
          <g transform="translate(10,10) scale(1.6)" class="svg-icon">
            <path fill="#ffffff" d="M21.066,20.667c1.227-0.682,1.068-3.311-0.354-5.874c-0.611-1.104-1.359-1.998-2.109-2.623c-0.875,0.641-1.941,1.031-3.102,1.031c-1.164,0-2.231-0.391-3.104-1.031c-0.75,0.625-1.498,1.519-2.111,2.623c-1.422,2.563-1.578,5.192-0.35,5.874c0.549,0.312,1.127,0.078,1.723-0.496c-0.105,0.582-0.166,1.213-0.166,1.873c0,2.938,1.139,5.312,2.543,5.312c0.846,0,1.265-0.865,1.466-2.188c0.2,1.314,0.62,2.188,1.461,2.188c1.396,0,2.545-2.375,2.545-5.312c0-0.66-0.062-1.291-0.168-1.873C19.939,20.745,20.516,20.983,21.066,20.667zM15.5,12.201c2.361,0,4.277-1.916,4.277-4.279S17.861,3.644,15.5,3.644c-2.363,0-4.28,1.916-4.28,4.279S13.137,12.201,15.5,12.201zM24.094,14.914c1.938,0,3.512-1.573,3.512-3.513c0-1.939-1.573-3.513-3.512-3.513c-1.94,0-3.513,1.573-3.513,3.513C20.581,13.341,22.153,14.914,24.094,14.914zM28.374,17.043c-0.502-0.907-1.116-1.641-1.732-2.154c-0.718,0.526-1.594,0.846-2.546,0.846c-0.756,0-1.459-0.207-2.076-0.55c0.496,1.093,0.803,2.2,0.861,3.19c0.093,1.516-0.381,2.641-1.329,3.165c-0.204,0.117-0.426,0.183-0.653,0.224c-0.056,0.392-0.095,0.801-0.095,1.231c0,2.412,0.935,4.361,2.088,4.361c0.694,0,1.039-0.71,1.204-1.796c0.163,1.079,0.508,1.796,1.199,1.796c1.146,0,2.09-1.95,2.09-4.361c0-0.542-0.052-1.06-0.139-1.538c0.492,0.472,0.966,0.667,1.418,0.407C29.671,21.305,29.541,19.146,28.374,17.043zM6.906,14.914c1.939,0,3.512-1.573,3.512-3.513c0-1.939-1.573-3.513-3.512-3.513c-1.94,0-3.514,1.573-3.514,3.513C3.392,13.341,4.966,14.914,6.906,14.914zM9.441,21.536c-1.593-0.885-1.739-3.524-0.457-6.354c-0.619,0.346-1.322,0.553-2.078,0.553c-0.956,0-1.832-0.321-2.549-0.846c-0.616,0.513-1.229,1.247-1.733,2.154c-1.167,2.104-1.295,4.262-0.287,4.821c0.451,0.257,0.925,0.064,1.414-0.407c-0.086,0.479-0.136,0.996-0.136,1.538c0,2.412,0.935,4.361,2.088,4.361c0.694,0,1.039-0.71,1.204-1.796c0.165,1.079,0.509,1.796,1.201,1.796c1.146,0,2.089-1.95,2.089-4.361c0-0.432-0.04-0.841-0.097-1.233C9.874,21.721,9.651,21.656,9.441,21.536z"/>
          </g>
        </svg>

        <div class="tag-text">
          <h2>和我们一起，追求极致</h2>
          <p>
          把1个小时的录制制作成1分钟的课程，重复一句话10遍为了更好的传达信息。你在做，别人也在做。通过首页推荐，博客文章，评论沟通等各种方式，你会发现更多与你一样追求极致的人。
          </p>
        </div>
      </li>
      <li class="tag-money">
        <div class="tag-text">
          <h2>更多的分成</h2>
          <p>
          90%的课程销售额（去掉交易费用后）会返还给课程发布者
          </p>
        </div>
      </li>
      <li class="tag-watch">
        <div class="tag-text">
          <h2>关注更容易</h2>
          <p>
          通过关注功能，可以让课程的更新自动通知用户。课程时间线可以让用户看到课程的演变史
          </p>
        </div>
      </li>
      <li class="tag-price-setting">
        <div class="tag-text">
          <h2>价格设定灵活</h2>
          <p>
          可以设定单独的视频免费，也可以设定整个课程免费
          </p>
        </div>
      </li>
      <li class="tag-freedom">
        <div class="tag-text">
          <h2>自由</h2>
          <p>
          课程发布者拥有所有权，没有排他协议，发布者有在其它平台发布课程的自由
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
