<div class="container clearfix">
  <div class="tag-cloud">
    <h1>为什么选择好奇猫？</h1>
    <ul>
      <li>
        <svg class="svg-tag" >
           <g transform="translate(-360.73734,-376.43048)">
             <path style="fill:#008c7e;" transform="matrix(0.10890172,0,0,0.10890172,399.84889,344.80981)" d="m301.43,620.93c0,182.25-147.75,330-330,330s-330-147.75-330-330,147.75-330,330-330,330,147.75,330,330z"/>
          </g>
          <g transform="matrix(1.9985489,0,0,1.9985489,3.895373,3.4384864)">
            <path class="svg-icon" d="m16.217,8.0429c-3.417,0-8.577,0.983-8.577,3.282,0,1.91,2.704,3.229,1.691,3.889-1.02,0.666-2.684-1.848-4.048-1.848-1.653,0-2.815,1.434-2.815,2.926,0,4.558,6.326,8.25,13.749,8.25,7.424,0,13.443-3.692,13.443-8.25,0-4.555-6.019-8.249-13.443-8.249zm-5.345,6.271c0-0.645,0.887-1.166,1.98-1.166s1.979,0.521,1.979,1.166c0,0.644-0.886,1.166-1.979,1.166s-1.98-0.523-1.98-1.166zm3.981,8.778c-1.058,0-1.914-0.68-1.914-1.518s0.856-1.518,1.914-1.518c1.057,0,1.914,0.68,1.914,1.518s-0.857,1.518-1.914,1.518zm5.322-0.528c-1.057,0-1.913-0.681-1.913-1.519,0-0.84,0.856-1.521,1.913-1.521,1.059,0,1.914,0.681,1.914,1.521s-0.855,1.519-1.914,1.519zm0.464-11.111c0-0.838,0.856-1.518,1.914-1.518s1.913,0.68,1.913,1.518c0,0.839-0.855,1.518-1.913,1.518-1.055,0-1.914-0.679-1.914-1.518zm4.2,8.822c-1.057,0-1.914-0.681-1.914-1.519s0.857-1.518,1.914-1.518c1.059,0,1.914,0.68,1.914,1.518s-0.855,1.519-1.914,1.519zm1.011-4.007c-1.058,0-1.914-0.68-1.914-1.519,0-0.838,0.856-1.518,1.914-1.518,1.057,0,1.913,0.68,1.913,1.518,0,0.839-0.856,1.519-1.913,1.519z"/>
          </g>
        </svg>
        <div class="tag-text">
          <h2>创作很酷 </h2>
          <p>
          好奇猫旨在让创作变成很酷的事情。不管是作者的课程页面还是个人空间，从 url 的结构到每个页面的样式细节，我们都尽心雕琢，只为知识之光更加璀璨
          </p>
        </div>
      </li>
      <li>
        <svg class="svg-tag">
          <g transform="translate(-360.73734,-376.43048)">
            <path style="fill:#008c7e;" transform="matrix(0.10890172,0,0,0.10890172,399.84889,344.80981)" d="m301.43,620.93c0,182.25-147.75,330-330,330s-330-147.75-330-330,147.75-330,330-330,330,147.75,330,330z"/>
          </g>
          <g transform="matrix(1.5423729,0,0,1.5423729,12.094219,12.092895)">
            <path class="svg-icon" d="m27.188,4.875v1.094h-4.5v-1.094h-14.626v1.094h-4.5v-1.094h-1v21.25h1v-1.094h4.5v1.094h14.625v-1.094h4.5v1.094h1.25v-21.25h-1.249zm-19.126,18.844h-4.5v-3.125h4.5v3.125zm0-4.438h-4.5v-3.125h4.5v3.125zm0-4.437h-4.5v-3.125h4.5v3.125zm0-4.438h-4.5v-3.125h4.5v3.125zm3.185,10.184v-10.836l9.382,5.418-9.382,5.418zm15.941,3.129h-4.5v-3.125h4.5v3.125zm0-4.438h-4.5v-3.125h4.5v3.125zm0-4.437h-4.5v-3.125h4.5v3.125zm0-4.438h-4.5v-3.125h4.5v3.125z"/>
          </g>
        </svg>

        <div class="tag-text">
          <h2>想和做，距离如此近</h2>
          <p>
          不用等辛苦数天之后课程完成再发布出来了。我们鼓励将制作好的那部分视频尽早上传，以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
          </p>
        </div>
      </li>
      <li>
        <svg class="svg-tag">
          <g transform="translate(-360.73734,-376.43048)">
            <path style="fill:#008c7e;" transform="matrix(0.10890172,0,0,0.10890172,399.84889,344.80981)" d="m301.43,620.93c0,182.25-147.75,330-330,330s-330-147.75-330-330,147.75-330,330-330,330,147.75,330,330z"/>
         </g>
         <g transform="matrix(1.6,0,0,1.6,11.200782,11.199675)">
           <path class="svg-icon" d="m21.066,20.667c1.227-0.682,1.068-3.311-0.354-5.874-0.611-1.104-1.359-1.998-2.109-2.623-0.875,0.641-1.941,1.031-3.102,1.031-1.164,0-2.231-0.391-3.104-1.031-0.75,0.625-1.498,1.519-2.111,2.623-1.422,2.563-1.578,5.192-0.35,5.874,0.549,0.312,1.127,0.078,1.723-0.496-0.105,0.582-0.166,1.213-0.166,1.873,0,2.938,1.139,5.312,2.543,5.312,0.846,0,1.265-0.865,1.466-2.188,0.2,1.314,0.62,2.188,1.461,2.188,1.396,0,2.545-2.375,2.545-5.312,0-0.66-0.062-1.291-0.168-1.873,0.599,0.574,1.176,0.812,1.726,0.496zm-5.566-8.466c2.361,0,4.277-1.916,4.277-4.279s-1.916-4.278-4.277-4.278c-2.363,0-4.28,1.916-4.28,4.279s1.917,4.278,4.28,4.278zm8.594,2.713c1.938,0,3.512-1.573,3.512-3.513,0-1.939-1.573-3.513-3.512-3.513-1.94,0-3.513,1.573-3.513,3.513s1.572,3.513,3.513,3.513zm4.28,2.129c-0.502-0.907-1.116-1.641-1.732-2.154-0.718,0.526-1.594,0.846-2.546,0.846-0.756,0-1.459-0.207-2.076-0.55,0.496,1.093,0.803,2.2,0.861,3.19,0.093,1.516-0.381,2.641-1.329,3.165-0.204,0.117-0.426,0.183-0.653,0.224-0.056,0.392-0.095,0.801-0.095,1.231,0,2.412,0.935,4.361,2.088,4.361,0.694,0,1.039-0.71,1.204-1.796,0.163,1.079,0.508,1.796,1.199,1.796,1.146,0,2.09-1.95,2.09-4.361,0-0.542-0.052-1.06-0.139-1.538,0.492,0.472,0.966,0.667,1.418,0.407,1.007-0.559,0.877-2.718-0.29-4.821zm-21.468-2.129c1.939,0,3.512-1.573,3.512-3.513,0-1.939-1.573-3.513-3.512-3.513-1.94,0-3.514,1.573-3.514,3.513s1.574,3.513,3.514,3.513zm2.535,6.622c-1.593-0.885-1.739-3.524-0.457-6.354-0.619,0.346-1.322,0.553-2.078,0.553-0.956,0-1.832-0.321-2.549-0.846-0.616,0.513-1.229,1.247-1.733,2.154-1.167,2.104-1.295,4.262-0.287,4.821,0.451,0.257,0.925,0.064,1.414-0.407-0.086,0.479-0.136,0.996-0.136,1.538,0,2.412,0.935,4.361,2.088,4.361,0.694,0,1.039-0.71,1.204-1.796,0.165,1.079,0.509,1.796,1.201,1.796,1.146,0,2.089-1.95,2.089-4.361,0-0.432-0.04-0.841-0.097-1.233-0.226-0.041-0.449-0.106-0.659-0.226z"/>
          </g>
        </svg>
        <div class="tag-text">
          <h2>和我们一起，追求极致</h2>
          <p>
          把1个小时的录制制作成1分钟的课程，重复一句话10遍为了更好的传达信息。你在做，别人也在做。通过首页推荐，博客文章，评论沟通等各种方式，你会发现更多与你一样追求极致的人
          </p>
        </div>
      </li>
      <li>
        <svg class="svg-tag">
          <g transform="translate(-360.73734,-376.43048)">
            <path style="fill:#008c7e;" transform="matrix(0.10890172,0,0,0.10890172,399.84889,344.80981)" d="m301.43,620.93c0,182.25-147.75,330-330,330s-330-147.75-330-330,147.75-330,330-330,330,147.75,330,330z"/>
          </g>
          <g>
            <path class="svg-icon" d="m36,36.354,12.031-21.938,6.3692,0-13.446,22.646,8.9641,0,0,4.0103-11.087,0,0,4.7179,11.087,0,0,4.0103-11.087,0,0,7.7846-5.6615,0,0-7.7846-11.087,0,0-4.0103,11.087,0,0-4.7179-11.087,0,0-4.0103,8.7282,0-13.21-22.646,6.3692,0,12.031,21.938"/>
          </g>
        </svg>
        <div class="tag-text">
          <h2>更多的分成</h2>
          <p>
          90%的课程销售额（去掉交易费用后）会返还给课程发布者
          </p>
        </div>
      </li>
      <li>
        <svg class="svg-tag">
          <g transform="translate(-360.73734,-376.43048)">
            <path style="fill:#008c7e;" transform="matrix(0.10890172,0,0,0.10890172,399.84889,344.80981)" d="m301.43,620.93c0,182.25-147.75,330-330,330s-330-147.75-330-330,147.75-330,330-330,330,147.75,330,330z"/>
          </g>
          <g transform="translate(-321.65547,-380.79018)">
            <path class="svg-icon" d="m355.4,395.9c-1.6585,0.14362-3.085,1.6218-3.3607,3.6051l-0.3055,2.2608c-0.0613,0.10871-0.12938,0.21033-0.18332,0.32588l-5.9066,12.669c-0.23902,0.51207-0.37882,1.0491-0.42773,1.5683h-3.1977c-2.0938,0-3.7884,1.6742-3.7884,3.768v11.956c0,2.0938,1.6946,3.7884,3.7884,3.7884h5.5604c1.2727,1.1517,2.9472,1.8534,4.8068,1.8534h7.5768c3.9781,0,7.1694-3.1913,7.1694-7.1694v-12.322c0-3.9781-3.1913-7.1694-7.1694-7.1694h-2.3423l1.4461-10.51c0.31505-2.2666-0.98438-4.3159-2.9329-4.6031-0.24357-0.0359-0.49632-0.0408-0.73324-0.0204z"/>
            <rect ry="3.0205" style="fill:#ffffff;" transform="matrix(0,1,-1,0,0,0)" height="16.264" width="6.5052" y="-374.58" x="411.03"/>
            <rect ry="3.2526" style="fill:#ffffff;" transform="matrix(0,1,-1,0,0,0)" height="18.772" width="6.5052" y="-377.08" x="417.72"/>
            <rect ry="3.2526" style="fill:#ffffff;" transform="matrix(0,1,-1,0,0,0)" height="16.694" width="6.5052" y="-375.01" x="424.41"/>
            <rect ry="3.2526" style="fill:#ffffff;" transform="matrix(0,1,-1,0,0,0)" height="14.473" width="6.5052" y="-372.78" x="431.1"/>
          </g>
        </svg>
        <div class="tag-text">
          <h2>关注更容易</h2>
          <p>
          通过关注功能，可以让课程的更新自动通知用户。课程时间线可以让用户看到课程的演变史
          </p>
        </div>
      </li>
      <li>
        <svg class="svg-tag">
          <g transform="translate(-360.73734,-376.43048)">
            <path style="fill:#008c7e;" transform="matrix(0.10890172,0,0,0.10890172,399.84889,344.80981)" d="m301.43,620.93c0,182.25-147.75,330-330,330s-330-147.75-330-330,147.75-330,330-330,330,147.75,330,330z"/>
          </g>
          <g transform="matrix(1.6,0,0,1.6,11.345028,10.902075)">
            <path class="svg-icon" d="M17.41,20.395l-0.778-2.723c0.228-0.2,0.442-0.414,0.644-0.643l2.721,0.778c0.287-0.418,0.534-0.862,0.755-1.323l-2.025-1.96c0.097-0.288,0.181-0.581,0.241-0.883l2.729-0.684c0.02-0.252,0.039-0.505,0.039-0.763s-0.02-0.51-0.039-0.762l-2.729-0.684c-0.061-0.302-0.145-0.595-0.241-0.883l2.026-1.96c-0.222-0.46-0.469-0.905-0.756-1.323l-2.721,0.777c-0.201-0.228-0.416-0.442-0.644-0.643l0.778-2.722c-0.418-0.286-0.863-0.534-1.324-0.755l-1.96,2.026c-0.287-0.097-0.581-0.18-0.883-0.241l-0.683-2.73c-0.253-0.019-0.505-0.039-0.763-0.039s-0.51,0.02-0.762,0.039l-0.684,2.73c-0.302,0.061-0.595,0.144-0.883,0.241l-1.96-2.026C7.048,3.463,6.604,3.71,6.186,3.997l0.778,2.722C6.736,6.919,6.521,7.134,6.321,7.361L3.599,6.583C3.312,7.001,3.065,7.446,2.844,7.907l2.026,1.96c-0.096,0.288-0.18,0.581-0.241,0.883l-2.73,0.684c-0.019,0.252-0.039,0.505-0.039,0.762s0.02,0.51,0.039,0.763l2.73,0.684c0.061,0.302,0.145,0.595,0.241,0.883l-2.026,1.96c0.221,0.46,0.468,0.905,0.755,1.323l2.722-0.778c0.2,0.229,0.415,0.442,0.643,0.643l-0.778,2.723c0.418,0.286,0.863,0.533,1.323,0.755l1.96-2.026c0.288,0.097,0.581,0.181,0.883,0.241l0.684,2.729c0.252,0.02,0.505,0.039,0.763,0.039s0.51-0.02,0.763-0.039l0.683-2.729c0.302-0.061,0.596-0.145,0.883-0.241l1.96,2.026C16.547,20.928,16.992,20.681,17.41,20.395zM11.798,15.594c-1.877,0-3.399-1.522-3.399-3.399s1.522-3.398,3.399-3.398s3.398,1.521,3.398,3.398S13.675,15.594,11.798,15.594zM27.29,22.699c0.019-0.547-0.06-1.104-0.23-1.654l1.244-1.773c-0.188-0.35-0.4-0.682-0.641-0.984l-2.122,0.445c-0.428-0.364-0.915-0.648-1.436-0.851l-0.611-2.079c-0.386-0.068-0.777-0.105-1.173-0.106l-0.974,1.936c-0.279,0.054-0.558,0.128-0.832,0.233c-0.257,0.098-0.497,0.22-0.727,0.353L17.782,17.4c-0.297,0.262-0.568,0.545-0.813,0.852l0.907,1.968c-0.259,0.495-0.437,1.028-0.519,1.585l-1.891,1.06c0.019,0.388,0.076,0.776,0.164,1.165l2.104,0.519c0.231,0.524,0.541,0.993,0.916,1.393l-0.352,2.138c0.32,0.23,0.66,0.428,1.013,0.6l1.715-1.32c0.536,0.141,1.097,0.195,1.662,0.15l1.452,1.607c0.2-0.057,0.399-0.118,0.596-0.193c0.175-0.066,0.34-0.144,0.505-0.223l0.037-2.165c0.455-0.339,0.843-0.747,1.152-1.206l2.161-0.134c0.152-0.359,0.279-0.732,0.368-1.115L27.29,22.699zM23.127,24.706c-1.201,0.458-2.545-0.144-3.004-1.345s0.143-2.546,1.344-3.005c1.201-0.458,2.547,0.144,3.006,1.345C24.931,22.902,24.328,24.247,23.127,24.706z"/>
          </g>
        </svg>
        <div class="tag-text">
          <h2>价格设定灵活</h2>
          <p>
          可以设定单独的视频免费，也可以设定整个课程免费
          </p>
        </div>
      </li>
      <li>
        <svg class="svg-tag">
          <g transform="translate(-360.73734,-376.43048)">
            <path style="fill:#008c7e;" transform="matrix(0.10890172,0,0,0.10890172,399.84889,344.80981)" d="m301.43,620.93c0,182.25-147.75,330-330,330s-330-147.75-330-330,147.75-330,330-330,330,147.75,330,330z"/>
          </g>
          <g transform="matrix(1.6,0,0,1.6,10.400228,10.399675)">
            <path class="svg-icon" d="m24.875,15.334v-4.876c0-4.894-3.981-8.875-8.875-8.875s-8.875,3.981-8.875,8.875v0.375h3.5v-0.375c0-2.964,2.411-5.375,5.375-5.375s5.375,2.411,5.375,5.375v4.876h-16.333v15.083h21.916v-15.083h-2.083zm-6.603,11.622h-4.545l1.222-3.667c-0.782-0.389-1.324-1.188-1.324-2.119,0-1.312,1.063-2.375,2.375-2.375s2.375,1.062,2.375,2.375c0,0.932-0.542,1.73-1.324,2.119l1.221,3.667z"/>
          </g>
        </svg>
        <div class="tag-text">
          <h2>自由</h2>
          <p>
          课程发布者拥有所有权，没有排他协议，发布者有在其它平台发布课程的自由
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
