<div class="container">
  <div class="tag-cloud">
    <h1>为什么选择好奇猫？</h1>
    <ul>
      <li class="tag-create-course">
      <div class="tag-text">
        <h2>想和做，距离如此近</h2>
        <p>
        不用等辛苦数天之后课程完成再发布出来了。我们鼓励将制作好的那部分视频尽早上传，以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
        </p>
      </div>
      </li>
      <li class="tag-money">
      <div class="tag-text">
        <h2>更多的分成</h2>
        <p>
        90%的课程销售额（去掉交易费用后）会返还给课程发布者
        </p>
      </div>
      </li>
      <li class="tag-watch">
      <div class="tag-text">
        <h2>关注更容易</h2>
        <p>
        通过关注功能，可以让课程的更新自动通知用户。课程时间线可以让用户看到课程的演变史
        </p>
      </div>
      </li>
      <li class="tag-price-setting">
      <div class="tag-text">
        <h2>价格设定灵活</h2>
        <p>
        可以设定单独的视频免费，也可以设定整个课程免费
        </p>
      </div>
      </li>
      <li class="tag-freedom">
      <div class="tag-text">
        <h2>自由</h2>
        <p>
        课程发布者拥有所有权，没有排他协议，发布者有在其它平台发布课程的自由
        </p>
      </div>
      </li>
    </ul>
  </div>
</div>
