<div class="tagline">
  <h1 class="heading">让视频课程发布更简单</h1>
  <div class="subheading">
    <p>
    尽早发布课程，获得用户反馈，然后逐步完善，最后完成满足用户需求的课程
    </p>
    <p>
    <a href="/about/faq#why-publish-uncompleted">为什么发布未完成的课程？</a>
    </p>
  </div>
</div>
