<div class="tagline">
  <h1 class="heading">成为一个终身学习者！</h1>
  <div class="subheading">
    <p>
      通过好奇猫上的视频课程，让你随时随地向各个领域的高手学习实用的技能。
    </p>
    <p>
    <%= link_to "现在就开始", course_index_path %>
    </p>
  </div>
</div>
