<div class="container">
  <div class="tag-cloud">
    <h1>你会学到什么？</h1>
    <ul>
      <li class="tag-rails">
      <div class="tag-text">
        <h2>Ruby on Rails</h2>
        <p>工欲善其事，必先利其器。利用这样一个优秀的web开发框架作为开发工具，让我们怎能不爱？</p>
      </div>
      </li>
      <li class="tag-html5">
      <div class="tag-text">
        <h2>HTML5 &amp; CSS</h2>
        <p>对于美的追求是人的基本需求之一。而决定了一个网页是否美丽，就要靠HTML和CSS了。</p>
      </div>
      </li>
      <li class="tag-js">
      <div class="tag-text">
      <h2>JavaScript</h2>
      <p>想让你的web应用更人性化和更具有交互性？试试JavaScript吧，运行在客户端的JavaScript会带给你很多惊喜。</p>
      </div>
      </li>
      <li class="tag-tdd">
      <div class="tag-text">
        <h2>测试驱动开发（TDD）</h2>
        <p>不可思议的TDD（Test Driven Development），有了它，你的项目代码可维护性更高，让你的web应用更加“坚固”。</p>
      </div>
      </li>
      <li class="tag-agile">
      <div class="tag-text">
        <h2>敏捷开发</h2>
        <p>开发。迭代。最后的结果是：小承诺，大惊喜！</p>
      </div>
      </li>
      <li class="tag-github">
      <div class="tag-text">
        <h2>Git，还是Git</h2>
        <p>commit！commit！commit！不正是这些让团队协作更加高效么？！</p>
      </div>
      </li>
    </ul>
  </div>
</div>
