.episode-video {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   padding-top: 20px;
   background-color: #303F9F;
   text-align: center;
 }

 .video {
   border: 1px solid #BDBDBD;
   margin: 10% auto;
   padding: 150px 200px;
   background-color: #3F51B5;
 }
