.episode-video {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   padding-top: 20px;
   background-color: #B2EBF2;
   text-align: center;
 }

 .video {
   border: 1px solid #BDBDBD;
   margin: 10%;
   padding: 150px 200px;
   background-color: #0097A7;
 }
