default: &default
  canonical_host: "www.example.com"
  system_email: "no-reply@example.com"
  memcached:
    servers: ["127.0.0.1:11211"]
    namespace: "example"
  upyun:
    switch: 'on' # to support file upload, change this to 'on'
    operator_name: ''
    operator_password: ''
    bucket: ''
    bucket_domain: ''
    video_bucket: ''
    video_bucket_domain: ''
  image:
    default_avatar: 'http://media.haoqicat.com/avatar/default_avatar420x.png'
    default_poster: 'http://media.haoqicat.com/course_poster/default.png'

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
