default: &default
  image:
    default_poster: 'http://media.haoqicat.com/course_poster/default.png'
    default_posters_dir: 'default_posters/'
    default_avatar: "http://www.gravatar.com/avatar/default.png"
  alipay:
    pid: '2088402465243298'
    secret: 'p182a5k2yekoo5fzjjcbpysu41ak4wlb'
    seller_email: 'myemail@gmail.com'
    return_url: 'http://mysite.com/orders/done'
    notify_url: 'http://mysite.com/orders/notify'
  qiniu:
    access_key: 'your access key'
    secret_key: 'your secret key'
    bucket: 'your bucket'
    bucket_domain: 'your bucket domain'

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
