default: &default
  image:
    default_poster: 'http://media.haoqicat.com/course_poster/default.png'
    default_posters_dir: 'default_posters/'
    default_avatar: "http://www.gravatar.com/avatar/default.png"
  alipay:
    site: 'your site name'
    return_url: 'http://yoursite.com/orders/done'
    notify_url: 'http://yoursite.com/orders/notify'
  video:
    url: 'http://'
  qiniu:
    access_key: 'your access key'
    secret_key: 'your secret key'
    bucket: 'your bucket'
    bucket_domain: 'your bucket domain'

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
