@import "globals/variables";
@import "globals/mixins";

.blog {
  background-color: white;
  .post-listing {
    float: left;
    width: 50%;
    .blog-post {
      border-top: 1px solid #EEE;
      padding-bottom: 30px;
      .top-rule {
        margin-bottom: 16px;
        width: 16px;
        border-top: 2px solid #EEE;
      }
      h2.title {
        margin-top: 10px;
        color: #4183C4;
        font-size: 30px;
      }
    }
  }
}
.blog-markdown-body {
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
}
