@import "globals/variables";
@import "globals/mixins";

.blog {
  background-color: white;
  .post-listing {
    float: left;
    width: 55%;
    padding: 30px 100px;
    .blog-post {
      border-top: 1px solid #EEE;
      padding: 30px 0;
      &:first-child {
        border-top: none;
      }
      .blog-post-title {
        color: teal;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: normal;
        a { color: inherit; }
      }
      .blog-post-meta {
        margin-bottom: 10px;
        color: #999;
        li {
          list-style: none;
          display: inline;
          padding-right: 20px;
        }
        .author-avatar {
          vertical-align: top;
          border-radius: 3px;
          width: 18px;
          height: 18px;
        }
        a { color: #999; }
      }
    }
  }
  .blog-comments {
    margin-top: 10px;
  }
}

.blog-markdown-body {
  color: #444;
  font-size: 16px;
  line-height: 1.65em;
  overflow: hidden;
  padding-top: 10px;
  &>*:first-child {
    margin-top: 0 !important;
  }
}

textarea#post_content {
  min-height: 500px;
}
