@import "globals/variables";
@import "globals/mixins";

#tutorial-page {
  min-width: 100%;
  display: table;
  padding-top: 40px;
  h3 {
    padding-top: 0;
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: normal;
  }
  .tutorial-nav {
    display: table-cell;
    vertical-align: top;
    background-color: white;
    width: 250px;
    min-width: 250px;
    padding-right: 10px;
    position: static;
    .course-intro {
      margin-right: 10px;
      dl {
        dt {
          clear: left;
          float: left;
          color: #999;
          width: 80px;
          padding: 1px 0;
        }
        dd {
          float: left;
          padding: 1px 0;
        }
      }
    }
  }
  .tutorial-content {
    display: table-cell;
    border-left: 1px solid $border-color-c;
    padding-left: 20px;
    width: 100%;
    .tutorial-description {
      margin-bottom: 20px;
      p {
        color: #a9c0d1;
        display: block;
        font-size: 13px;
        line-height: 18px;
        margin-top: 2px;
        max-height: 80px;
        max-width: inherit;
        overflow-y: hidden;
      }
    }
  }
}

div#html5-player {
  margin: 0 auto;
  border: 1px solid $border-color-c;
  width: 800px;
}

a.course-thumb {
  margin: 0 auto 10px;
  display: block;
  width: 330px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
  border-radius: 3px;
  .poster-area {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: $course-poster-width;
    height: $course-poster-height;
    border: inherit;
  }
  .private-label {
    color: red;
    font-size: 12px;
    font-weight: normal;
    vertical-align: super;
    letter-spacing: -1px;
  }
  .course-info {
    text-align: left;
    height: 100px;
    bottom: 0;
    padding: 10px;
    overflow: hidden;
    margin-top: 5px;
    h4 {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 10px;
      color: $font-gray;
    }
    p {
      margin-top: 0px;
      height: 44px;
      overflow: hidden;
      color: $font-gray;
      font-size: 14px;
    }
    .author {
      position: absolute;
      bottom: 3px;
      color: $font-gray;
    }
  }
}

#edit-course-delete {
  margin-left: 5px;
  .minibutton {
    padding: 3px 10px;
    vertical-align: bottom;
  }
}

.edit-course-info-area {
  padding-top: 5px;
  p {
    margin-bottom: 5px;
  }
  #edit-course-poster {
    margin-bottom: 35px;
    .poster-preview {
      margin: 5px 0 20px;
      width: $course-poster-width;
      height: $course-poster-height;
      #poster {
        margin: 0 auto;
        padding: 5px;
        height: 100%;
        max-width: $course-poster-width;
        max-height: $course-poster-height;
        border: 1px solid darken($light-gray, 20%);
      }
    }
  }
  #edit-course-desc {
    margin-bottom: 35px;
  }
}

.courses {
  margin-bottom: 40px;
  .course {
    position: relative;
    margin-top: 15px;
    float: left;
    width: 400px;
    ul.course-actions {
      position: absolute;
      top: 285px;
      right: 70px;
      width: 80px;
      li {
        list-style: none;
        width: 40px;
        float: left;
      }
    }
    .author {
      position: absolute;
      bottom: 15px;
      left: 45px;
    }
  }
}
