@import "globals/variables";
@import "globals/mixins";

#tutorial-page {
  min-width: 100%;
  display: table;
  padding-top: 40px;
  h3 {
    padding-top: 0;
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: normal;
  }
  .tutorial-nav {
    display: table-cell;
    vertical-align: top;
    background-color: white;
    width: 250px;
    min-width: 250px;
    padding-right: 10px;
    position: static;
    .course-intro {
      margin-right: 10px;
      dl {
        dt {
          clear: left;
          float: left;
          color: #999;
          width: 80px;
          padding: 1px 0;
        }
        dd {
          float: left;
          padding: 1px 0;
        }
      }
    }
    .timeline-btn {
      margin: 20px 0;
      .timeline-label {
        color: black;
        letter-spacing: 1px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .tutorial-content {
    display: table-cell;
    border-left: 1px solid $border-color-c;
    padding-left: 20px;
    width: 100%;
    .tutorial-description {
      margin-bottom: 20px;
      p {
        color: #a9c0d1;
        display: block;
        font-size: 13px;
        line-height: 18px;
        margin-top: 2px;
        max-height: 80px;
        max-width: inherit;
        overflow-y: hidden;
      }
    }
  }
}

div#html5-player {
  margin: 0 auto;
  border: 1px solid $border-color-c;
  width: 800px;
}


#edit-course-delete {
  margin-left: 5px;
  .minibutton {
    padding: 3px 10px;
    vertical-align: bottom;
  }
}

.edit-course-info-area {
  padding-top: 5px;
  p {
    margin-bottom: 5px;
  }
  #edit-course-poster {
    margin-bottom: 35px;
    .poster-preview {
      margin: 5px 0 20px;
      width: $course-poster-width;
      height: $course-poster-height;
      #poster {
        margin: 0 auto;
        padding: 5px;
        height: 100%;
        max-width: $course-poster-width;
        max-height: $course-poster-height;
        border: 1px solid darken($light-gray, 20%);
      }
    }
  }
  #edit-course-desc {
    margin-bottom: 35px;
  }
}

.courses {
  margin-bottom: 40px;
  .course {
    float: left;
  }
}
