@import "globals/variables";
@import "globals/mixins";

#tutorial-page {
  min-width: 100%;
  display: table;
  padding: 0 19px;
  h3 {
    padding-top: 0;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: normal;
  }
  .tutorial-nav {
    display: table-cell;
    vertical-align: top;
    background-color: white;
    min-width: 250px;
    padding: 22px 0;
    position: static;
    width: 250px;
    .play-list {
      .nav-pills > .active > a, .nav-pills > .active > a:hover {
        background-color: #eee;
        color: darken($light-gray, 50%);
        border: 1px solid #ccc;
        padding: 15px;
      }
      .nav-pills.nav-stacked > li > a {
        padding: 15px;
        color: darken($light-gray, 50%);
        &:hover {
          color: $background-green;
        }
      }
    }
  }
  .tutorial-content {
    display: table-cell;
    border-left: 1px solid #CCC;
    padding: 22px 0 0 22px;
    width: 100%;
    .tutorial-description {
      margin-bottom: 20px;
      p {
        color: #a9c0d1;
        display: block;
        font-size: 13px;
        line-height: 18px;
        margin-top: 2px;
        max-height: 80px;
        max-width: inherit;
        overflow-y: hidden;
      }
    }
  }
}

div#html5-player {
  margin: 0 auto;
  border: 1px solid #ccc;
  height: 480px;
  width: 854px;
  video#videojs {
    display: block;
  }
}

a.course-thumb {
  margin: 0 auto;
  display: block;
  .poster-area {
    margin: 0 auto;
    width: 310px;
    min-height: 175px;
  }
  border: 1px solid darken($light-gray, 20%);
  width: 320px;
  padding-top: 5px;
  padding-bottom: 5px;
  .course-info {
    text-align: left;
    border-top: 1px solid $background-green;
    width: 320;
    bottom: 0;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 5px;
    h4 {
      padding: 5px;
      font-size: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    p {
      margin-top: 0px;
      padding: 5px;
    }
  }
}
.edit-course-info-area {
  border: 1px solid red;
  text-align: center;
}
