@import "globals/variables";
@import "globals/mixins";

.tutorial-page {
  min-width: 100%;
  display: table;
  margin-top: 30px;
  .tutorial-nav {
    display: table-cell;
    vertical-align: top;
    background-color: white;
    width: 330px;
    min-width: 330px;
    padding-right: 10px;
    position: static;
    .course-update-time {
      border-top: 1px solid #ccc;
      padding-top: 10px;
      margin-right: 10px;
      margin-top: 30px;
    }
  }
  .tutorial-content {
    display: table-cell;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    width: 100%;
    .tutorial-description {
      margin-bottom: 20px;
      p {
        display: block;
        margin-top: 2px;
        max-width: inherit;
      }
    }
    #comments {
      margin-top: 20px;
    }
  }
}

div#html5-player {
  border: 1px solid #ccc;
}

.download-btn {
  float: right;
    padding: 10px 0;
}

#edit-course-delete {
  margin-left: 5px;
  .minibutton {
    padding: 2px 10px;
    vertical-align: bottom;
  }
}

.edit-course-info-area {
  padding-top: 5px;
  p {
    margin-bottom: 5px;
  }
  #edit-course-poster {
    margin-bottom: 35px;
    .poster-preview {
      margin: 5px 0 20px;
      width: $course-poster-width;
      height: $course-poster-height;
      #poster {
        margin: 0 auto;
        padding: 5px;
        height: 100%;
        max-width: $course-poster-width;
        max-height: $course-poster-height;
        border: 1px solid darken($light-gray, 20%);
      }
    }
  }
}

.poster-crop-box {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  img { max-width: 500px; max-height: 500px; }
}

.courses {
  margin-bottom: 40px;
  .course {
    float: left;
    margin: 20px 45px;
  }
}

.pagehead {
  position: relative;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  .pagehead-actions {
    margin: 0;
    float: right;
    &>li {
      list-style-type: none;
      font-size: 13px;
      color: #333;
      margin: 0 10px 0 0;
      float: left;
      &:last-child { margin-right: 0; }
      .social-count-title {
        padding: 0 10px;
        line-height: 24px;
        float: left;
        font-size: 13px;
        font-weight: bold;
        color: #333;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
        border-radius: 3px;
        border: 1px solid #DDD;
        vertical-align: middle;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:hover {
          color: $link-green;
          text-decoration: none;
        }
      }
    }
  }
  .course-desc {
    width: 75%;
  }
  .pagehead-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: #666;
    position: relative;
    float: left;
    .course-image {
      float: left;
      width: 53px;
      height: 30px;
      border-radius: 3px;
      background-position: center;
      background-size: cover;
      border: 1px solid #666;
      margin-right: 10px;
      margin-top: -6px;
    }
    .pagehead-name-divider {
      padding-right: 5px;
      padding-left: 5px;
    }
    .label {
      font-size: 14px;
      padding: 3px 8px;
      margin-left: 10px;
    }
  }
}
