@import "globals/variables";
@import "globals/mixins";

// header
.header {
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid #E5E5E5;
}

.header-logged-out {
  padding: 10px 0;
  height: 48px;
  a {
    text-decoration: none;
  }
}
.header-logo-wordmark {
  float: left;
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  &:hover {
    color: $link-green;
    text-decoration: none;
  }
}

.top-nav {
  float: left;
  list-style: none;
  padding-top: 9px;
  padding-bottom: 9px;
  a {
    font-weight: normal;
    display: block;
    margin-left: 15px;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in 0;
    color: #777;
  }
  li {
    float: left;
  }
}

.header-actions {
  float: right;
  .button {
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 1px 0 white;
  }
}

.header-logged-in {
  background-color: #F3F3F3;
  height: 40px;
  a {
    text-decoration: none;
  }
}

#user-links {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    float: left;
    margin-left: 10px;
  }
  .name {
     font-weight: bold;
     white-space: nowrap;
  }
  a {
    display: block;
    padding: 12px 5px 10px;
    color: #777;
    line-height: 16px;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in 0;
  }
  .notification-indicator {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .notification-indicator-unread {
    background-color: $notification-green;
  }
}

/* sticky footer */
html,body {
  margin:0;
  border:0;
  height:100%;
  min-width: 1200px;
}
body > .navbar {
  font-size: 18px;
}
#wrapper {
  min-height:100%;
  height:auto!important;
  height:100%;
  margin:0;
  margin-bottom:-160px;
  #footer-push {
    height:160px;
    clear:both;
  }
}

#footer {
  margin: 40px 0 0 0;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 1.5;
  color: #777;
  text-shadow: 0 1px 0 white;
  .footer_nav {
    float: left;
    width: 220px;
    dt {
      color: #52595D;
      font-weight: bold;
    }
    dd {
      margin-left: 0;
    }
  }
  .contact {
    line-height: 20px;
    width: 600px;
    margin: 0 auto;
    .member {
      display: inline-block;
      float: left;
      margin-left: 3px;
    }
    .text {
      line-height: 20px;
      margin: 0;
      margin-left: 3px;
      float: left;
    }
    img {
      width: 20px;
      height: 20px;
      border-radius: 3px;
    }
  }
}
.footer-divider {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px solid #EEE;
}
