@import "globals/variables";

#notifications {
  .details {
    width: 960px;
    margin: 0 auto;
    .title {
      margin-top: 30px;
    }
  }
  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    background: transparent;
  }
  table td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    line-height: 18px;
    border-top: 1px solid #ddd;
  }
  td.face {
    width: 48px;
  }
  .annotate {
    font-size: 14px;
    font-weight: bold;
  }
  .highlight {
    border-top: 2px solid $notification-green;
  }
}
