.timeline-title {
  padding-bottom: 17px;
  margin: 32px 0 20px;
  border-bottom: 1px solid #eeeeee;
  font-size: 22px;
}

@mixin icon-background {
  position: absolute;
  top: 14px;
  left: 0;
  padding: 3px;
  width: 32px;
  height: 32px;
  background: {
    position: center center;
    size: 32px auto;
    repeat: no-repeat;
  }
}
.icon-update {
  @include icon-background;
  background-image: image-url("pen.svg");
}
.icon-create {
  @include icon-background;
  background-image: image-url("plus.svg");
}
.icon-destroy {
  @include icon-background;
  background-image: image-url("trash.svg");
}

.tl-wrap {
  width: 960px;
  min-width: 960px !important;
  padding: 10px;
  margin: 10px auto;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      position: relative;
      padding: 0 5px 30px 0;
      span {
        vertical-align: top;
      }
    }
  }
  .clear:after {
    display: table;
    content: "";
  }
  .clear:after {
    clear: both;
  }
  .container {
    width: 960px;
    min-width: 960px;
    padding: 10px;
    margin: 10px auto;
  }
  .content {
    position: relative;
  }
  .content:before {
    position: absolute;
    content: '';
    border-left: 6px solid #dcd9d4;
    left: 50%;
    margin-left: -3px;
    height: 100%;
  }
  .timestamp {
    width: 100px;
    height: 100px;
    background-color: #dcd9d4;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    .date {
      width: 80px;
      height: 80px;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 40px;
      position: absolute;
      top: 10px;
      left: 10px;
      text-align: center;
      .tag {
        font-size: 12px;
        color: #ccc;
      }
    }
    .month {
      margin-top: 22px;
      color: teal;
      font-size: 16px;
    }
  }
  main {
    .project {
      border-bottom: 6px solid #dcd9d4;
      font-weight: bold;
      padding-bottom: 2px;
      img {
        width: 30px !important;
        height: 30px !important
      }
    }
    .timestamp {
      clear: both;
    }
    span {
      display: table-cell;
    }
    .pull-left {
      width: 477px;
      float: left;
      span.desc {
        padding-left: 30px;
        padding-right: 80px;
      }
      span.time {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 5px;
      }
    }
    .pull-right {
      width: 477px;
      float: right;
      margin-top: 40px;
      .project {
        text-align: right;
      }
      span.time {
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 5px;
      }
      li span img {
        padding-left: 90px;
      }
      span.desc {
        padding-left: 30px;
      }
    }
  }
}
