.timeline-title {
  padding-bottom: 17px;
  margin: 32px 0 20px;
  border-bottom: 1px solid #eeeeee;
  font-size: 22px;
}

.tl-wrap {
  width: 960px;
  min-width: 960px !important;
  padding: 10px;
  margin: 10px auto;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      position: relative;
      padding: 0 5px 30px 0;
      span {
        display: table-cell;
        vertical-align: top;
      }
      img {
        max-width: none;
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
  .clear:after {
    display: table;
    content: "";
  }
  .clear:after {
    clear: both;
  }
  .tl-content {
    position: relative;
    padding-bottom: 50px;
  }
  .tl-content:before {
    position: absolute;
    content: '';
    border-left: 6px solid #dcd9d4;
    left: 50%;
    margin-left: -3px;
    height: 100%;
  }
  .timestamp {
    width: 92px;
    height: 92px;
    background-color: #dcd9d4;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    .date {
      width: 80px;
      height: 80px;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 40px;
      position: absolute;
      top: 6px;
      left: 6px;
      text-align: center;
      .month {
        font-size: 14px;
        color: #ccc;
        display: inline;
      }
    }
    .year {
      margin-top: 22px;
      font-weight: bold;
      font-size: 16px;
    }
  }
  main {
    .project {
      border-bottom: 6px solid #dcd9d4;
      font-weight: bold;
      padding-bottom: 2px;
      margin-bottom: 20px;
      img {
        width: 30px !important;
        height: 30px !important;
      }
    }
    .timestamp {
      clear: both;
    }
    .pull-left {
      width: 477px;
      float: left;
      margin-top: -10px;
      span.desc {
        padding-left: 30px;
        padding-right: 80px;
      }
      span.time {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 5px;
        color: #ccc;
      }
    }
    .pull-right {
      width: 477px;
      float: right;
      margin-top: 0;
      .project {
        text-align: right;
      }
      span.time {
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 5px;
        color: #ccc;
      }
      span img {
        padding-left: 100px;
      }
      span.desc {
        padding-left: 10px;
      }
    }
  }
}
.tl-course main {
  .pull-left {
    width: 550px;
    margin-top: 10px;
    span.desc {
      padding-right: 140px;
    }
  }
  .pull-right {
    width: 550px;
    span img {
      padding-left: 130px;
    }
    span.desc {
      padding-left: 30px;
    }
  }
}
