.timeline-title {
  margin: 0 auto;
  padding-bottom: 17px;
  margin-top: 32px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  font-size: 22px;
  text-align: center;
  .author {
    margin-top: 10px;
    img {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      margin-bottom: -10px;
    }
    .update-count {
      font-size: 13px;
    }
  }
}
.tl-wrap {
  width: 1200px;
  min-width: 1200px !important;
  padding: 10px;
  margin: 10px auto;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      position: relative;
      padding: 0 5px 15px 0;
      span {
        display: table-cell;
        vertical-align: top;
      }
      .time {
        font-size: 15px;
      }
      .desc {
        font-size: 16px;
        letter-spacing: 1px;
      }
      img {
        max-width: none;
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
  .tl-content {
    position: relative;
    .tl-middleline:before {
      position: absolute;
      content: '';
      border-left: 6px solid #dcd9d4;
      left: 50%;
      margin-left: -3px;
      height: 100%;
    }
  }
  .timestamp {
    width: 82px;
    height: 82px;
    background-color: #dcd9d4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 auto;
    position: relative;
    .date {
      width: 70px;
      height: 70px;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      position: absolute;
      top: 6px;
      left: 6px;
      text-align: center;
      .month {
        font-size: 16px;
        font-weight: bold;
        color: #bbb;
        display: inline;
      }
    }
    .year {
      margin-top: 14px;
      font-weight: bold;
      font-size: 18px;
    }
    .noyear {
      margin-top: 22px;
    }
  }
  .tl-content {
    .project {
      border-bottom: 6px solid #dcd9d4;
      font-weight: bold;
      font-size: 16px;
      padding-bottom: 2px;
      margin-bottom: 20px;
      img {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        width: 40px !important;
        height: 40px !important;
      }
    }
    .pull-left {
      width: 650px;
      float: left;
      margin-top: -40px;
      ul {
        padding-left: 30px;
      }
      span.desc {
        padding-left: 30px;
        padding-right: 150px;
      }
      span.time {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 60px;
        color: #bbb;
        font-weight: bold;
      }
    }
    .pull-right {
      width: 650px;
      float: right;
      margin-top: -40px;
      .project {
        text-align: right;
      }
      span.time {
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 60px;
        color: #bbb;
        font-weight: bold;
      }
      span i {
        padding-left: 150px;
      }
      span.desc {
        padding-left: 30px;
      }
    }
    .pull-left.first, .pull-right.first {
      margin-top: 0;
    }
  }
}
.tl-course .tl-content {
  .pull-left {
    width: 650px;
    margin-top: 10px;
    ul {
      padding-bottom: 0;
    }
  }
  .pull-right {
    width: 650px;
    margin-top: 0;
    ul {
      padding-bottom: 0;
    }
    span.desc {
      padding-left: 30px;
    }
  }
}
