@import "globals/variables";
@import "globals/mixins";

#user-show {
  padding-top: 23px;
  #user-info {
    margin-top: 10px;
    padding-bottom: 20px;
    width: 250px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    float: left;
    .edit-profile-button {
      display: block;
      width: 30px;
      padding: 5px;
      text-align: center;
      background-color: #34CF7A;
      color: #ffffff;
      &:hover {
        background-color: #60b044;
      }
    }
    .header {
      border-bottom: 1px solid #ddd;
    }
    .profile img {
      display: block;
      margin: 20px auto;
      width: 120px;
      height: 120px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    .name-email {
      text-align: center;
      h2 {
        color: black;
      }
    }
    .stats {
      width: 210px;
      height: 60px;
      margin: 10px auto 0;
      list-style-type: none;
      li {
        padding-top: 5px;
        text-align: center;
        display: table-cell;
        width: 1%;
        strong { display: block; }
      }
    }
    .follow-user-button {
      display: block;
      margin: 0 auto;
      width: 150px;
      color: white;
      text-align: center;
      padding: .5em;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover {
        background-color: #167abd;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  #user-course {
    width: 900px;
    float: right;
    margin-bottom: 30px;
    .main-nav {
      padding-left: 0;
      list-style: none;
      border-bottom: 2px solid #ededed;
      text-align: center;
      li {
        display: inline-block;
      }
      li a {
        color: #888;
        font-weight: 400;
        border: 0;
        padding: 10px 40px;
        font-size: 18px;
        position: relative;
        display: block;
        margin-right: 2px;
        line-height: 1.43;
        -webkit-transition: color 0.25s linear;
        -moz-transition: color 0.25s linear;
        -ms-transition: color 0.25s linear;
        -o-transition: color 0.25s linear;
        transition: color 0.25s linear;
        &:hover {
          color: #2B69A2;
          background: none;
          text-decoration: none;
        }
      }
      li.active a {
        color: #2B69A2;
        font-weight: 400;
      }
      li.active a:after {
        content: '';
        position: absolute;
        width: 100%;
        height: auto;
        border-bottom: 2px solid #7BA3C9;
        left: 1px;
        bottom: -2px;
      }
    }
    .new-course {
      letter-spacing: 1px;
      text-align: right;
      margin-bottom: 15px;
    }
    .new-course-button {
      background-color: #34cf7a;
      padding: 10px;
      color: #ffffff;
      line-height: 36px;
      &:hover {
        background-color: #60b044;
        text-decoration: none;
      }
    }
    .no-course {
      border: 2px solid #dbe8f5;
      width: 400px;
      text-align: center;
      margin: 0 auto;
      padding: 30px 0;
      background-color: #e7f0fa;
      -webkit-box-shadow: 0 0 7px 0 #ddd;
      -moz-box-shadow: 0 0 7px 0 #ddd;
      box-shadow: 0 0 7px 0 #ddd;
    }
  }
  .user-activity {
    margin-top: 30px;
    .seperator {
      position: relative;
      height: 20px;
      margin-bottom: 30px;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        border-bottom: 2px solid #ededed;
      }
      .mark {
        position: absolute;
        left: 50%;
        margin-left: -70px;
        background-color: #ffffff;
        width: 140px;
        border: 1px solid #ededed;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-size: 18px;
        color: #888;
        font-weight: 400;
        text-align: center;
      }
    }
    .activities-wrap {
      width: 900px;
      margin: 0 auto;
      border-collapse: collapse;
      text-align: left;
      .even, .odd {
        border-bottom: 1px solid #e6eaed;
      }
      .odd {
        background-color: #f6f9fb;
      }
      tr:last-child {
        border-bottom: none;
      }
      td {
        height: 40px;
      }
      td.date {
        width: 100px;
        font-style: italic;
        font-size: 13px;
        text-align: center;
      }
      .icon {
        padding-left: 15px;
        color: #888;
      }
    }
    .no-activity {
      text-align: center;
    }
  }
}

.setting-container {
  margin-top: 20px;
  .left-col {
    float: left;
    width: 200px;
  }
  .setting-content {
    float: right;
    width: 80%;
  }
}

.avatar {
  img {
    padding: 5px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    width: 195px;
    height: 195px;
    border: 1px solid #ccc;
  }
  a.button {
    width: 175px;
    text-align: center;
    line-height: normal;
  }
}

.avatar-crop-box {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  img { max-width: 300px; max-height: 300px; }
}

#member-page, #watcher-page {
  .title {
    margin: 49px auto;
    padding: 10px;
    width: 300px;
    text-align: center;
    font-size: 21px;
    border-bottom: 1px solid #eee;
  }
}
