@import "globals/variables";
@import "globals/mixins";

#user-show {
  padding-top: 23px;
  display: table;
  ul {
    list-style: none;
    li {
      float: left;
    }
  }
  #user-info {
    min-width: 250px;
    width: 250px;
    display: table-cell;
    background-color: white;
  }
  #user-course {
    width: 800px;
    border-left: 1px solid $border-color-c;
    border-top-left-radius: 5px;
    display: table-cell;
    .user-course-header {
      background-color: #EAEAEA;
      background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
      background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
      background-image: linear-gradient(#FAFAFA, #EAEAEA);
      background-repeat: repeat-x;
      border: 1px solid $border-color-d;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 1px solid $border-color-d;
      h2 {
        margin: 0;
        height: 58px;
        line-height: 58px;
        padding: 0 30px;
        font-size: 18px;
        letter-spacing: 3px;
        color: lighten(#52595D, 10%);
        font-weight: 800;
      }
      .new-course {
        float: right;
        letter-spacing: 3px;
        margin: 4px 20px 0 0;
        top: 10px;
      }
    }
  }
  h1 {
    color: $font-gray;
    span {
      line-height: 1;
      display: inline-block;
      width: 100%;
      line-height: 26px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding-bottom: 4px;
    }
    em {
      display: inline-block;
      width: 100%;
      text-overflow: ellipsis;
      overflow-x: hidden;
      font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      color: #666;
      position: relative;
      top: -2px;
      margin-bottom: 12px;
      vertical-align: top;
      letter-spacing: 0;
      -webkit-font-smoothing: antialiased;
    }
  }
}
.setting-container {
  margin-top: 20px;
  .left-col {
    float: left;
    width: 200px;
  }
  .setting-content {
    float: right;
    width: 80%;
    h3 {
      margin-top: 0;
    }
    .setting-header {
      font-size: 25px;
      padding-bottom: 12px;
    }
    .setting-section {
      position: relative;
      border-top: 1px solid $border-color-d;
      padding-top: 30px;
      margin-bottom: 30px;
      &:first-child {
        border-top: 0;
      }
    }
  }
  .avatar-upload.avatared {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      a {
        position: absolute;
        left: 0;
        top: 210px;
        margin-bottom: 30px;
      }
  }
  .avatared-content {
    display: inline-block;
    vertical-align: top;
  }
  .actions .button {
    width: 230px;
  }
}

.avatared {
  img {
    padding: 5px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    width: 160px;
    height: 160px;
    border: 1px solid $border-color-c;
  }
  a.button {
    width: 140px;
    text-align: center;
    line-height: normal;
  }
}

.media-preview-wrapper {
  background: #fff;
  border: 1px solid #A9A9A9;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.63), 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  padding: 18px;
  position: relative;
  .media-preview {
    background: #EEF4FD;
    border: 1px solid #D1D8E4;
    padding: 2px;
    margin-bottom: 10px;
    .media {
      border: 1px dotted #C2CBD7;
      overflow: hidden;
      padding: 2px;
      .avatar-crop-box {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        img { max-width: none; }
      }
      .avatar-crop-preview {
        width: 172px;
        height: 172px;
        margin: 0 auto;
        img { max-width: none; }
      }
    }
  }
  .tip {
    color: #444;
    margin-top: 10px;
    font-size: smaller;
    text-shadow: #fff 0px 1px 0px;
  }
}

#avatar-crop-form {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#member-page {
  .title {
    margin: 49px auto;
    padding: 10px;
    width: 300px;
    text-align: center;
    font-size: 21px;
    border-bottom: 1px solid #eee;
  }
  .member-list {
    list-style-type: none;
    padding: none;
    .member-list-item {
      width: 256px;
      float: left;
      padding-bottom: 20px;
      margin: 20px 0 20px 20px;
      border-bottom: 1px solid #eee;
    }
    .gavatar {
      border: 1px solid #eee;
      float: left;
      display: block;
    }
    .member-list-container {
      margin-left: 90px;
      margin-top: -5px;
      line-height: 20px;
      p {
        margin: 0;
      }
      .username {
        margin: 0 0 5px;
      }
    }
  }
}
