@import "globals/variables";
@import "globals/mixins";

#user-show {
  padding-top: 23px;
  display: table;
  #user-info {
    width: 250px;
    display: table-cell;
    background-color: white;
    float: left;
    .stats {
      width: 210px;
      height: 60px;
      margin-top: 20px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      list-style-type: none;
      li {
        float: left;
        padding-top: 5px;
        padding-left: 30px;
        text-align: center;
        strong { display: block; }
      }
    }
  }
  #user-course {
    width: 900px;
    float: right;
    border-left: 1px solid #ccc;
    border-top-left-radius: 5px;
    display: table-cell;
    .user-course-header {
      background-color: #EAEAEA;
      background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
      background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
      background-image: linear-gradient(#FAFAFA, #EAEAEA);
      background-repeat: repeat-x;
      border: 1px solid #ddd;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 1px solid #ddd;
      h2 {
        margin: 0;
        height: 58px;
        line-height: 58px;
        padding: 0 30px;
        font-size: 18px;
        letter-spacing: 3px;
        color: lighten(#52595D, 10%);
        font-weight: 800;
      }
      .new-course {
        float: right;
        letter-spacing: 3px;
        margin: 4px 20px 0 0;
        top: 10px;
      }
    }
  }
  h1 {
    color: $font-gray;
    span {
      line-height: 1;
      display: inline-block;
      width: 100%;
      line-height: 26px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding-bottom: 4px;
    }
    em {
      display: inline-block;
      width: 100%;
      text-overflow: ellipsis;
      overflow-x: hidden;
      font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      color: #666;
      position: relative;
      top: -2px;
      margin-bottom: 12px;
      vertical-align: top;
      letter-spacing: 0;
      -webkit-font-smoothing: antialiased;
    }
  }
}
.setting-container {
  margin-top: 20px;
  .left-col {
    float: left;
    width: 200px;
  }
  .setting-content {
    float: right;
    width: 80%;
  }
}

.avatared {
  img {
    padding: 5px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    width: 195px;
    height: 195px;
    border: 1px solid #ccc;
  }
  a.button {
    width: 175px;
    text-align: center;
    line-height: normal;
  }
}


.media-preview-wrapper {
  background: #fff;
  margin-right: 30px;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  .media-preview {
    background: #EEF4FD;
    border: 1px solid #D1D8E4;
    padding: 2px;
    margin-bottom: 10px;
    .media {
      border: 1px dotted #C2CBD7;
      overflow: hidden;
      padding: 2px;
      .avatar-crop-box {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        img { max-width: none; }
      }
      .avatar-crop-preview {
        width: 172px;
        height: 172px;
        margin: 0 auto;
        img { max-width: none; }
      }
    }
  }
  .tip {
    color: #444;
    font-size: smaller;
    text-shadow: #fff 0px 1px 0px;
    position: absolute;
  }
}

#avatar-crop-form {
  position: absolute;
  bottom: -115px;
}

#member-page, #watcher-page {
  .title {
    margin: 49px auto;
    padding: 10px;
    width: 300px;
    text-align: center;
    font-size: 21px;
    border-bottom: 1px solid #eee;
  }
}
