@import "globals/variables";
@import "globals/mixins";

#user-show {
  padding-top: 23px;
  display: table;
  ul {
    list-style: none;
    li {
      float: left;
    }
  }
  #user-info {
    min-width: 250px;
    width: 250px;
    display: table-cell;
    background-color: white;
  }
  #user-course {
    width: 800px;
    border-left: 1px solid #CCC;
    border-top-left-radius: 5px;
    display: table-cell;
    .user-course-header {
      background-color: #EAEAEA;
      background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
      background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
      background-image: linear-gradient(#FAFAFA, #EAEAEA);
      background-repeat: repeat-x;
      border: 1px solid #DDD;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 1px solid #DDD;
      h2 {
        margin: 0;
        height: 58px;
        line-height: 58px;
        padding: 0 30px;
        font-size: 18px;
        letter-spacing: 3px;
        color: lighten(#52595D, 10%);
        font-weight: 800;
      }
      .new-course {
        float: right;
        letter-spacing: 3px;
        margin: 4px 20px 0 0;
        top: 10px;
      }
    }
  }
  h1 {
    color: $font-gray;
    span {
      line-height: 1;
      display: inline-block;
      width: 100%;
      line-height: 26px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding-bottom: 4px;
    }
    em {
      display: inline-block;
      width: 100%;
      text-overflow: ellipsis;
      overflow-x: hidden;
      font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      color: #666;
      position: relative;
      top: -2px;
      margin-bottom: 12px;
      vertical-align: top;
      letter-spacing: 0;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.avatared {
  img {
    padding: 5px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    width: 160px;
    height: 160px;
    border: 1px solid #DDD;
  }
}
