@import "globals/variables";
@import "globals/mixins";

.about {
  .left-col, .about-content {
    margin-top: 20px;
  }
  .left-col {
    float: left;
    width: 200px;
    h3 {
      margin-top: 10px;
    }
  }
  .about-content {
    float: right;
    width: 950px;
  }
}

.about-main, .about-team, .about-jobs, .about-faq {
  color: #333;
  font-size: 16px;
  line-height: 1.65em;
  padding-top: 10px;
  padding-right: 250px;
  &>*:first-child {
    margin-top: 0 !important;
  }
}

.employee-container {
  .employee-thumbnail {
    position: relative;
    display: inline;
    font-size: 12px;
    text-align: center;
    float: left;
    width: 160px;
    height: 160px;
    background: white;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #DDD;
    margin-right: 40px;
    box-shadow: 0 0 0 1px #DFDFDF;
    a img {
      border-radius: 50%;
      max-width: 100%;
      width: 160px;
      height: 160px;
    }
    a img:hover {
      opacity: 0.7;
    }
  }
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color: white;
  background-color: $background-green;
}
