@import "globals/variables";
@import "globals/mixins";

.about {
  font-size: 14px;
  .left-col, .about-content {
    margin-top: 20px;
  }
  .left-col {
    float: left;
    width: 200px;
  }
  .about-content {
    float: right;
    width: 80%;
  }
}
.employee-container {
  .employee-thumbnail {
    position: relative;
    display: inline;
    font-size: 12px;
    text-align: center;
    float: left;
    width: 160px;
    height: 160px;
    background: white;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #DDD;
    margin-right: 40px;
    box-shadow: 0 0 0 1px #DFDFDF;
    a img {
      border-radius: 50%;
    }
    a img:hover {
      opacity: 0.7;
    }
  }
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color: white;
  background-color: $background-green;
}

.about-main, .about-team, .about-work, .about-faq {
  float: left;
  width: 650px;
  background-color: white;
  padding: 10px 0;
  position: relative;
  margin-bottom: 20px;
  ul{
    padding-left: inherit;
  }
}
.about-fieldset {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  legend h3 span {
    vertical-align: text-top;
  }
}
