@import "globals/variables";
@import "globals/mixins";

.about {
  font-size: 14px;
  .left-col, .about-content {
    margin-top: 20px;
  }
  .left-col {
    float: left;
    width: 200px;
  }
  .about-content {
    float: right;
    width: 80%;
  }
}
.employee-container {
  .employee-thumbnail {
    position: relative;
    display: inline;
    float: left;
    width: 200px;
    height: 200px;
    padding: auto;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
  }
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color: white;
  background-color: $background-green;
}
