@import "globals/variables";
@import "globals/mixins";

.masthead {
  padding: 50px 0 80px;
  height: 300px;
  background-color:black;
  .mini-player {
    display: inline-block;
    padding: 10px;
    width: 446px;
    margin-left: 150px;
  }
  .home-signup {
    padding-top: 20px;
    display: inline-block;
    margin-right: 150px;
    float: right;
    .button {
      padding: 11px;
    }
    .text-muted {
      color: #999;
    }

    dl.form {
      margin: 0 0 10px;
      position: relative;
      dd {
        margin: 0;
        padding: 0;
        border: 0;
        input {
          padding: 9px;
          font-size: 16px;
          border-radius: 5px;
        }
      }
    }
    .button, dl.form input[type="text"], input[type="password"] {
      padding: 10px;
      font-size: 18px;
      border-radius: 5px;
    }
  }

  #ego-line {
    margin-top: 40px;
    text-align: center;
    font-weight: normal !important;
    color: white;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
