@import "globals/variables";
@import "globals/mixins";

.styleguide {
  font-size: 14px;
  .left-col, .styleguide-content {
    margin-top: 20px;
  }
  .left-col {
    float: left;
    width: 200px;
  }
  .styleguide-content {
    float: right;
    width: 80%;
  }
}

.styleguide-example {
  margin: 15px auto;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #DDD;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  .styleguide-element {
    position: relative;
    padding: 20px;
    margin-top: -5px;
    padding-top: 40px;
    border-top: 1px solid #EEE;
    .styleguide-modifier-name {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 15px;
      font-size: 11px;
      color: #999;
      background: #F9F9F9;
      border: 1px solid #EEE;
      border-top: none;
    }
  }
  .styleguide-element::after {
    display: block;
    content: '';
    clear: both;
    margin: 0;
    padding: 0;
  }
  &>h3 {
    margin: -1px -1px 0;
    padding: 10px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    background: #333;
    border-top: 1px solid black;
    em > a {
      float: right;
      text-transform: none;
      font-style: normal;
      font-weight: normal;
      color: #999;
    }
  }
}

.styleguide-example {
  .styleguide-html {
    padding: 15px 15px;
    background: #EDF6F8;
    border-top: 1px solid #DDE7EA;
    overflow: auto;
    pre {
      border: none;
      background-color: #EDF6F8;
      code {
        background-color: #EDF6F8;
      }
    }
  }
  .styleguide-description {
    padding: 1px 10px;
    background: #F1F1F1;
    border-bottom: 1px solid #DDD;
    ul {
      padding-left: 30px;
      margin: 15px 0;
    }
  }
}

.styleguide-color {
  margin-bottom: 5px;
  padding: 30px;
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
}

