body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial,
    'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
