.ant-layout-content {
  display: flex;
  flex-direction: column;
}
.ant-layout-sider {
  border-right: 1px solid #ccc;
}
.upload {
  display: flex;
}
.course-choice {
  width: 400px;
}
.search-course {
  margin-top: 5px;
  border: 1px solid #ccc;
  height: 100px;
  overflow: auto;
  border-radius: 5px;
}
.search-course>p {
  line-height: 24px;
  text-indent: 10px;
}
.upload-list {
  margin-bottom: 80px;
}
.upload-list>div {
  display: flex;
  line-height: 30px;
}
.upload-list>div>div {
  flex-grow: 1;
}
.upload-list>div>div:last-child {
  text-align: right;
  color: #2b85cc;
}
.select-bucket {
  line-height: 80px;
}
.create-bucket>label, .select-bucket>label {
  display: inline-block;
  width: 180px;
  /*text-align: right;*/
}
.create-bucket>div>input {
  width: 300px;
  margin: 0 20px;
}
.create-bucket>div>div {
  margin: 10px 0;
}
.create-bucket>div button {
  margin: 0 20px;
}
.select-bucket>label {
  float: left;
}
.select-bucket>div {
  width: 300px;
  margin: 0 20px;
  float: left;
}
