.episode-list {
  display: flex;
  flex-direction: column;
  background-color: #3F51B5;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10% 20%;
  text-align: center;
}

.intro{
  margin-bottom: 80px;
  border-radius: 20px;
}

.episode {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: #FFFFFF;
  background: #303F9F;
  border-radius: 40px;
}
