<div class="container">
  <%= form_for @upyun_video, :html => {:multipart => true} do |f| %>
    <p>
    <%= f.file_field :asset %>
    <br>
    <br>
    <%= f.submit "upload" %>
    </p>
  <% end %>
</div>
