<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
  <br>
  <b>Owner:</b>
  <%= @item.user.name %>
</p>

<% if can? :edit, :item %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
