<div class="play-list">
  <ul class="nav nav-pills nav-stacked">
    <% course.videos.each do |video| %>
      <li>
      <a href="<%= course_path(video.course) + '/' + video.no.to_s + '/edit.js'  %> " data-remote='true'>
        <i class="icon-facetime-video"></i>
        <%= video.title %>
      </a>
      </li>
    <% end %>
      <li class="active">
      <a href="<%= request.url%>">
        <i class="icon-facetime-video"></i>
        New Video
      </a>
      </li>
  </ul>
</div>
