<div class="course-intro">
  <h3>课程介绍</h3>
  <p><%= course.description %></p>
  <dl>
    <dt>作者</dt>
    <dd><a href="http://haoqicat.com/luckyyang">刘吉洋</a></dd>
    <dt>长度</dt>
    <dd>4小时12分</dd>
    <dt>发布时间</dt>
    <dd>2013-3-30</dd>
  </dl>
</div>
