<div class="span4">
  <a href="/courses/<%= course.name %>">
    <div class="course_panel">
      <img src="<%= poster_link course %>"></img>
      <div class="course_info">
        <h2> <%= course.title %> </h2>
      </div>
    </div>
  </a>
</div>
