<div class="course-intro">
  <h3>课程介绍</h3>
  <p><%= course.description %></p>
  <dl>
    <dt>作者</dt>
    <dd><%= link_to course.user.name, member_path(course.user.name) %></dd>
    <dt>发布时间</dt>
    <dd><%= course.created_at.strftime(t('date.formats.default')) %></dd>
  </dl>
</div>
