<div class="course-intro">
  <h3>
    课程介绍
  </h3>
  <p>
  <%= course.cat.titleize %>
  <%= course.description %>
  <% if current_user && current_user.admin? %>
    <%= link_to '编辑', "#{course_path course}/edit"%>
  <% end %>
  </p>
</div>
