<div class="span4">
    <div class="course-panel">
      <a href="<%= course_path(course) %>">
        <img src="<%= poster_link course %>"></img>
      </a>
      <div class="course-info">
        <h4> <%= course.cat %> :</h4>
         <%= link_to course.title, course %>
      </div>
    </div>
</div>
