<div class="course-intro">
  <% if current_user && current_user.admin? %>
    <h3 style="display:inline;">课程介绍</h3>
  <% else %>
    <h3>课程介绍</h3>
  <% end %>
  <p><%= course.description %></p>
  <dl>
    <dt>作者</dt>
    <dd><a href="http://haoqicat.com/luckyyang">刘吉洋</a></dd>
    <dt>类别</dt>
    <dd><%= course.cat.titleize %></dd>
    <dt>难度</dt>
    <dd>初级</dd>
    <dt>长度</dt>
    <dd>4小时12分</dd>
    <dt>发布时间</dt>
    <dd>2013-3-30</dd>
  </dl>
</div>
