<div class="suggested-action">
  <a class="course-thumb" href="<%= course_path course %>">
    <div class="poster-area" style="background-image: url(<%= poster_link course %>);">
    </div>
    <div class="course-info">
      <h4> <%= course.cat %> :</h4>
      <p> <%= course.title %> </p>
    </div>
  </a>
</div>

