<div class="playlist-container">
  <ul class="playlist">
    <% course.videos.each do |v| %>
      <li>
      <a class="video <%= "active" if v.position == current_video.position %>" href="<%= course_path(v.course) + "/" + v.position.to_s %>">
        <div class="video-icon">
          <i class="fa fa-video-camera fa-lg"></i>
        </div>
        <span class="video-info">
          <%= v.title %>
          <%= "(å…è´¹)" if v.free? && paid_course?(course) %>
        </span>
      </a>
      </li>
    <% end %>
  </ul>
</div>
