<video id="html5-player" class="video-js vjs-default-skin" controls preload="auto"
  width="840" height="<%= (840 / video.ratio).to_i %>" data-setup="{}">
  <source src="<%= video_link %>" type='video/mp4'>
</video>
<div class="download-btn">
  <a class="minibutton primary" href="<%= video_link %>">Download</a>
</div>
