<ul class="nav nav-pills nav-stacked">
  <% videos.each do |video| %>
    <% if video.no == current_video.no %>
      <li class = "active">
        <% if video.no == 0 %>
          <%= link_to t("course_intro")+ " (#{t('playing')})", course_path(video.course) %>
        <% else %>
          <%= link_to " 第#{video.no}课: " + video.title + " (#{t('playing')})", course_path(video.course) + "/" + video.no.to_s %>
        <% end %>
      </li>
    <% else %>
      <li>
        <% if video.no == 0 %>
          <%= link_to t("course_intro"), course_path(video.course) %>
        <% else %>
          <%= link_to "第#{video.no}课:" + video.title, course_path(video.course) + "/" + video.no.to_s %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
