<div id="html5-player">
  <video preload width="800px" height="600px"
  src="<%= video.asset_url %>"
  type="video/mp4"
  controls="controls">
  </video>
</div>

<% content_for :template_js do %>
  <script>
    $('video').mediaelementplayer();
  </script>
<% end %>
