<video id="html5-player" class="video-js vjs-default-skin" controls preload="auto"
  width="840" height="<%= (840 / video.ratio).to_i %>" data-setup="{}">
  <source src="<%= video.asset_url %>" type='video/mp4'>
</video>
<div class="download-btn">
  <% params = @video.asset_url.split("/").last.split(".") %>
  <%= link_to t('download_video'), download_video_path(:serial => params[0],
    :type => params[1]), class: "minibutton primary" %>
</div>
