<script src="http://vjs.zencdn.net/c/video.js"></script>
<div id="html5-player">
  <video id="videojs" class="video-js vjs-default-skin" controls width=854px height="480" poster="" preload="auto" data-setup="{}">
  <source src="<%= video.asset_url %>" type="video/mp4"/ >
  </video>
</div>

