<ul class="nav nav-pills nav-stacked">
  <% videos.each do |video| %>
    <li <%= 'class = active' if video.no == current_video.no %>>
          <a href="<%= course_path(video.course) + "/" + video.no.to_s %>">
            <i class="icon-facetime-video"></i>
            <%= video.title %>
          </a>
      </li>
  <% end %>
</ul>
