<div class='container'>
  <div id="tutorial-page">
    <div class="tutorial-nav">
      <% if current_user %>
        <%= link_to "Cancel", @course, :class => "minibutton" %>
      <% end %>
      <% if @course.videos %>
        <%= render "all_added_videos", :course => @course %>
      <% end %>
      <%= render 'form', :course => @course %>
    </div>
    <div class="tutorial-content">
      <% if current_user %>
        <%= render "add_video", :course => @course %>
      <% end %>
    </div>
  </div>
</div>
