<div class="course-section clearfix">
  <%= render "edit_course_info", :course => @course %>
</div>

<div class='container'>
  <div class="tutorial-page">
    <div class="boxed-group">
      <h3><i class="fa fa-video-camera fa-lg"></i> 视频</h3>
      <div class="boxed-group-inner videos-section">
        <div class="tutorial-nav added-videos-wrap">
          <% if @course.videos.present? %>
            <%= render "all_added_videos", :course => @course %>
          <% else %>
          <div class="playlist-container">
            <ul class="playlist">
              <li class="add-video-btn">
                <%= link_to course_path(@course) + '/add_video.js',
                  class: "video active", remote: true do %>
                <div class="video-icon">
                  <i class="fa fa-plus fa-lg"></i>
                </div>
                <span class="video-info"> 添加新视频</span>
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>
        </div><!-- end tutorial-nav -->
        <div class="tutorial-content add-video-wrap">
          <%= render "add_video", :course => @course %>
        </div>
      </div>  <!-- boxed-group-inner -->
    </div> <!-- boxed-group -->
  </div><!-- end tutorial-page -->
</div>
