<div class="container">
  <% if current_user %>
    <%= render "add_video", :course => @course %>
  <% end %>
  <h1> Edit Course Info</h1>
  <%= render 'form', :course => @course %>
  <div class="clear-fix"></div>
</div>
