<div class="container">
  <h1> Edit</h1>
  <%= render 'form', :course => @course %>
  <div class="clear-fix"></div>
  <% if current_user && current_user.admin? %>
    <%= render "add_video", :course => @course %>
  <% end %>
</div>
