<p id="notice"><%= notice %></p>

<%= link_to "Create New Course", new_course_path %>

<div id="wrapper" class="grid clearfix">
  <ol id="repos">
    <% if !@courses.empty? %>
      <% @courses.each do |course| %>
        <%= render course %>
      <% end %>
    <% else %>
      <p>
      No Courses found
      </p>
    <% end %>
  </ol>
</div>
