<div class="container marketing">

  <% if !@course_groups.empty? %>
    <% @course_groups.each do |row| %>
      <div class="courses">
        <% row.each do |course| %>
          <div class="course">
            <%= render course %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>
    No Courses found
    </p>
  <% end %>
</div>
