.course-list {
  display: flex;
  margin: 0 auto;
  padding: 0 10%;
}

.course {
  margin: 0 5%;
  width: 33%;
  border: 1px solid #757575;
  text-decoration: none;
  color: #FFFFFF;
  background: #303F9F;
}

.poster {
  width: 100%;
}
