<div class="container">
  <div class="blog">
    <% if current_user && current_user.admin? %>
      <div class="minibutton">
        <%= link_to "写文章", "/write_blog" %>
      </div>
    <% end %>
    <div class="post-listing">
      <% if @posts.empty? %>
        <p>
          目前还没有任何文章
        </p>
      <% else %>
        <%= render @posts %>
      <% end %>
    </div>
  </div>
</div>
