@import "globals/variables";
@import "globals/mixins";

.videos-section {
  background: #ececec !important;
}
.added-videos-wrap {
  padding-right: 0 !important;
  background-color: #ececec !important;
  .playlist-container {
    background: #f2f2f2;
    .playlist li {
      a.video {
        border-bottom: 1px solid #ddd;
        margin-bottom: -1px;
        border-radius: none;
        color: $link-green;
      }
      a.video.active {
        background: white;
        color: darken($light-gray, 50%);
        border-left: 5px solid #1abc9c;
      }
    }
  }
}
.add-video-wrap {
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px !important;
  padding-right: 30px;
  background: white;
  border-left: none !important;
}
.add-video-box {
  .video-delete-btn {
    float: right;
    padding-top: 10px;
    margin-right: -20px;
  }
  .primary-info {
    position: relative;
    float: left;
    padding-top: 30px;
    #video-title, #video-desc {
      width: 380px !important;
    }
    #video-desc {
      height: 200px;
    }
    .video-button-group {
      margin: 30px 120px 20px 0;
      text-align: right;
      .cancel {
        margin-left: 20px;
      }
    }
  }
  .secondary-info {
    width: 300px;
    height: 220px;
    text-align: center;
    float: left;
    padding-top: 40px;
    padding-left: 40px;
    position: relative;
    .upload-tip {
      margin: 0;
      text-align: left;
      background-color: #E6F4F9;
      color: #4D8796;
      padding: 5px;
      li {
        margin-left: 20px;
      }
    }
    .upload {
      width: 300px;
      margin-top: 15px;
      height: 32px;
      .progress {
        position: relative;
        height: 100%;
        border: 1px solid #aaa;
        background: #eaeaea;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        .bar {
          height: 100%;
          background: $link-green;
          -moz-border-top-left-radius: 3px;
          -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
          -moz-border-bottom-left-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        #progress-text {
          position: absolute;
          color: white;
          letter-spacing: 1px;
          font-weight: bold;
          text-shadow: 0 0px 1px #999;
          margin-left: -40px;
          margin-top: -11px;
          left: 50%;
          top: 50%;
        }
      }
    }
  }
}
