/*
To put things beautifully together.

.dangerzone - LANA

Styleguide 7.1.
*/

@import "globals/variables";
@import "globals/mixins";

.boxed-group {
  position: relative;
  background: #efefef;
  padding: 3px;
  border-radius: 3px;
  margin: 0 0 15px 0;
  & > h3 {
    background-color: #ececec;
    margin: 0;
    padding: 10px 20px;
  }
  .heading {
    background-color: #e0e0e0;
    background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
    background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
    background-image: linear-gradient(#fafafa, #e0e0e0);
    background-repeat: repeat-x;
    margin: 0;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    padding: 10px 10px 11px 10px;
    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
  }
  .boxed-group-inner {
    padding: 10px 20px;
    background: #fff;
    color: #666;
    font-size: 13px;
  }
  .boxed-group-inner.seamless {
    padding: 0;
  }
}

.boxed-group.dangerzone > h3 {
    background-color: #DF3E3E;
    background-image: -moz-linear-gradient(#F97171, #DF3E3E);
    background-image: -webkit-linear-gradient(#F97171, #DF3E3E);
    background-image: linear-gradient(#F97171, #DF3E3E);
    background-repeat: repeat-x;
    border-bottom: 1px solid #900;
    color: white;
    text-shadow: 0 -1px 0 #900;
  }

/*
A box grouped form is very useful.

Styleguide 7.2.
*/

  // depend on form.css.scss


/*
A box grouped table is very beautiful.

Styleguide 7.3.
*/

  // depend on table.css.scss

.boxed-group-table {
  width: 100%;
  text-align: left;
  th{
    background-color: #FAFAFA;
  }
  .boxed-group-table td {
    vertical-align: top;
  }
  th, td {
    padding: 9px;
    border-bottom: 1px solid #EEE;
  }
}
