.button, .minibutton {
  outline: none;
}


.button, .minibutton {
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  background-color: #EAEAEA;
  background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
  background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
  background-image: linear-gradient(#FAFAFA, #EAEAEA);
  background-repeat: repeat-x;
  border-radius: 3px;
  border: 1px solid #DDD;
  border-bottom-color: #C5C5C5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
  vertical-align: middle;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.button:hover, .button:active, .minibutton:hover, .minibutton:active {
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3072B3;
  background-image: -moz-linear-gradient(#599BCD, #3072B3);
  background-image: -webkit-linear-gradient(#599BCD, #3072B3);
  background-image: linear-gradient(#599BCD, #3072B3);
  background-repeat: repeat-x;
  border-color: #2A65A0;
}
