/*
`.comment` for comment styles.

Styleguide 3.1.
*/

@import "globals/variables";
@import "globals/mixins";

.comment {
  border: 1px solid #CACACA;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  .comment-header {
    height: 33px;
    padding: 0 10px 0 6px;
    border-bottom: 1px solid #CCC;
    background-color: #E1E1E1;
    background-image: -moz-linear-gradient(#F8F8F8, #E1E1E1);
    background-image: -webkit-linear-gradient(#F8F8F8, #E1E1E1);
    background-image: linear-gradient(#F8F8F8, #E1E1E1);
    background-repeat: repeat-x;
    font-size: 12px;
    .comment-header-right {
      float: right;
    }
    .comment-header-author {
      max-width: 600px;
      line-height: 33px;
      font-weight: bold;
      color: #222;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .comment-header-date {
      display: inline-block;
      margin: 0;
      height: 33px;
      font-size: 11px;
      line-height: 33px;
      font-style: normal;
      color: #777;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    }
    .comment-header-actions {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      li {
        list-style-type: none;
        float: left;
        margin: 0 0 0 8px;
        height: 33px;
        line-height: 31px;
      }
    }
  }
  .comment-content {
    padding: 0;
    color: #333;
    font-size: 12px;
    background: #FBFBFB;
    .comment-body {
      padding: 10px;
      font-size: 13px;
      overflow: auto;
      width: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .form-content {
      padding: 10px;
      display: block;
      opacity: 1.0;
      textarea {
        margin: 0;
        width: 100%;
        max-width: 100%;
        height: 100px;
        min-height: 100px;
      }
      .form-actions {
        margin-top: 10px;
      }
      .comment-cancel-btn {
        display: block;
        float: left;
        text-decoration: none;
      }
      #comment_btn {
        display: block;
        float: right;
      }
    }
  }
}

.previewable-comment-form {
  background-color: white;
  position: relative;
  .write-content {
    padding: 0 10px 10px;
  }
  textarea {
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    height: 40px;
    font-size: 13px;
    padding: 10px;
    resize: vertical;
  }
}

.preview-box {
  margin: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}
.new-comment-content {
  padding: 10px;
}
#comment-btn {
  display: block;
  float: right;
}
