/*
`.course-thumb` for course cards styles.

Styleguide 5.1
*/

@import "globals/variables";
@import "globals/mixins";

$course-name-blue: #3499D3;
$private-label: #2c3e50;
a.course-thumb-container {
  width: 310px;
  display: block;
  &:hover {
    text-decoration: none;
  }
  .center-course-thumb {
    margin: 0 auto;
  }
}
.course-thumb {
  position: relative;
  width: 310px;
  height: 380px;
  background: white;
  &:hover {
    cursor: pointer;
    .course-title {
      background: darken($course-name-blue, 10%);
    }
  }

  .course-title {
    background: $course-name-blue;
    color: white;
    padding: 10px;
    line-height: 40px;
    font-weight: normal;
    font-size: 140%;
    .course-private-label {
      float: right;
      .fa-lock {
        line-height: 40px;
        color: $private-label;
      }
    }
  }

  .course-main {
    img {
      margin: 0;
      border: 0;
      display: block;
      width: 310px;
    }
  }
  .course-desc {
    width: 80%;
    padding: 10px;
    padding-bottom: 0;
    line-height: 22px;
    height: 88px;
    overflow: hidden;
    font-weight: normal;
    color: #666;
  }
  .course-author {
    font-size: 80%;
    position: absolute;
    left: 10px;
    bottom: 10px;
    line-height: 25px;
    color: #666;
    .course-thumb-avatar {
      width: 25px;
      height: 25px;
      display: block;
      margin-right: 5px;
      float: left;
      border-radius: 50%;
    }
  }
}




