#user-course {
  .content {
    margin-top: 30px;
    display: none;
  }
  .content.active {
    display: block;
  }
  .courses-wrap {
    border-left: 1px solid #dbe8f5;
    border-right: 1px solid #dbe8f5;
  }
  .course-list {
    padding-bottom: 25px;
    font-size: 14px;
    .user-course-header {
      background: #e7f0fa;
      padding: 5px 35px;
      border-top: 1px solid #dbe8f5;
      margin-bottom: 15px;
      font-size: 13px;
    }
    .watcher {
      margin-left: 5px;
    }
    .action {
      float: right;
    }
    img {
      display: block;
      float: left;
      padding: 15px;
      margin-left: 10px;
      background: #f5f5f5;
      width: 200px;
      height: 125px;
      transition: box-shadow .3s ease;
      &:hover {
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45), inset 0px 0px 1px 1px white;
      }
    }
    .meta {
      float: left;
      margin-left: 40px;
      width: 480px;
      .title {
        a {
          color: #008C7E;
          font-size: 20px;
        }
      }
      .lock {
        color: #999;
        font-size: 16px;
        margin-left: 10px;
      }
      .desc {
        padding: 10px 0;
      }
    }
    .details {
      padding-bottom: 2px;
      i {
        display: inline-block;
        width: 16px;
        line-height: 14px;
        text-align: center;
        font-size: 16px;
        color: #999;
      }
      .tip {
        margin: 10px;
      }
    }
    .course-button {
      float: right;
      width: 80px;
      color: #fff;
      background: #3499d3;
      text-align: center;
      padding: 5px 10px;
      margin-right: 10px;
      border-radius: 6px;
      margin-top: 60px;
      font-size: 16px;
      &:hover {
        background: #267CAE;
        text-decoration: none;
      }
    }
  }
}
