/*
`.course-thumb` for course cards styles.

Styleguide 5.1
*/

@import "globals/variables";
@import "globals/mixins";

.course-thumb {
  position: relative;
  margin-top: 15px;
  width: 400px;
  .course-detail {
    margin: 0 auto 10px;
    display: block;
    width: 340px;
    height: 350px;
    padding-top: 9px;
    padding-bottom: 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    border-radius: 3px;
    .poster-area {
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: $course-poster-width;
      height: $course-poster-height;
      border: 3px solid #eee;
    }
    .private-label {
      color: red;
      font-size: 12px;
      font-weight: bold;
      vertical-align: super;
      letter-spacing: -1px;
    }
    .course-info {
      text-align: left;
      height: 200px;
      bottom: 0;
      overflow: hidden;
      margin-top: 5px;
      letter-spacing: 1px;
      h4 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fff;
        background-color: black;
        text-align: center;
        padding: 8px 0;
      }
      p {
        margin-top: 0px;
        height: 44px;
        overflow: hidden;
        color: $font-gray;
        font-size: 14px;
        padding: 10px;
      }
    }
  }
  .course-author {
    position: absolute;
    right: 40px;
    bottom: 15px;
    color: $font-gray;
  }
  .green-box-shadow {
    &:hover {
      border-color: #c3ca7d;
      -webkit-box-shadow: 0 0 10px $background-green;
      text-decoration: none;
    }
  }
  .course-actions {
    position: absolute;
    bottom: 15px;
    left: 40px;
    width: 80px;
    text-align: left;
    li {
      list-style: none;
      width: 40px;
      float: left;
    }
  }
}
