/*
`.menu-container` for menu styles.

.menu-narrow  - set the width to 200px

Styleguide 4.1
*/

@import "globals/variables";
@import "globals/mixins";

.menu-container {
  padding: 3px;
  background: #EFEFEF;
  border-radius: 2px;
  .menu {
    background: #FAFAFB;
    border-radius: 2px;
    border: 1px solid #D8D8D8;
    list-style: none;
    .section {
      border-top: 1px solid #d8d8d8;
      &:first-child {
        border-top: none;
      }
      a.section-head {
        background-color: #e0e0e0;
        background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
        background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
        background-image: linear-gradient(#fafafa, #e0e0e0);
        background-repeat: repeat-x;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        color: #222;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-shadow: 0 1px 0 rgba(255,255,255,0.7);
        border-left: 0 none;
        img {
          float: left;
          margin: 0 10px 0 0;
          border-radius: 2px;
          height: 20px;
          width: 20px;
        }
      }
    }
    li {
      &:first-child {
        border-top: none;
      }
      border-bottom: 1px solid #EEE;
      border-top: 1px solid white;
    }
    a {
      display: block;
      padding: 12px 10px 12px 8px;
      text-shadow: 0 1px 0 white;
      border-left: 2px solid #FAFAFB;
      &:hover {
        text-decoration: none;
        background: #FDFDFE;
      }
    }
    a.active{
      background: white;
      border-left: 2px solid #D26911;
      font-weight: bold;
      color: #222;
      cursor: default;
      box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
    }
  }
}

.menu-container.menu-narrow {
  width: 200px;
}
