@import "globals/variables";
@import "globals/mixins";
.playlist-container {
  .playlist {
    list-style: none;
    li {
      position: relative;
      .video-pos {
        width: 15px;
        height: 100%;
      }
      a.video {
        display: block;
        color: darken($light-gray, 50%);
        padding: 12px 10px 12px 8px;
        margin-bottom: 2px;
        border-radius: 3px;
        &:hover {
          text-decoration: none;
          background-color: #eee;
        }
      }
      a.video.active {
        background-color: #ddd;
      }
      a.delete-action {
        position: absolute;
        display: block;
        padding: 12px 10px 12px 8px;
        top: 0px;
        right: 0px;
      }
      .video-info {
        padding: 10px;
      }
    }
  }
}
