@import "globals/variables";
@import "globals/mixins";
.playlist-container {
  .playlist {
    list-style: none;
    li {
      position: relative;
      a.video {
        display: block;
        color: darken($light-gray, 50%);
        padding: 12px 10px 12px 8px;
        margin-bottom: 2px;
        border-radius: 3px;
        &:hover {
          text-decoration: none;
          background-color: #eee;
        }
      }
      a.video.active {
        background-color: #ddd;
        color: $link-green;
      }
      a.delete-action {
        position: absolute;
        display: block;
        padding: 12px 10px 12px 8px;
        top: 0px;
        right: 0px;
      }
      .video-pos {
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        position: absolute;
        top: 50%;
        bottom: auto;
        margin-top: -14px;
      }
      .video-info {
        display: table-cell;
        padding-left: 40px;
      }
    }
  }
}
