<div class="menu-container">
  <ul class="menu">
    <li><a class="<%= request.path == "/about"? "active main":"main" %>" href="/about">关于我们</a></li>
    <li><a class="<%= request.path == "/about/team"? "active team":"team" %>" href="/about/team">团队成员</a></li>
    <li><a class="<%= request.path == "/about/jobs"? "active jobs":"jobs" %>" href="/about/jobs">加入我们</a></li>
    <li><a class="<%= request.path == "/about/faq"? "active faq":"faq" %>" href="/about/faq">常见问题</a></li>
  </ul>
</div>
