<div class="about-faq">
    <h1>常见问题</h1>
    <hr>
    <h2 id="why-publish-uncompleted"> 为什么发布未完成的课程？ </h2>
    <p>
    通常，一套视频课程是等所有的内容都制作完成后才会发布，完成后基本不会再有更新了。这样得到用户针对这门课程的反馈也不会反映到这套课程中，就算作者想更新视频，也是很困难的，因为视频课程的更新可能需要复现当时的场景，而这个过程也经常是很有难度的。
    </p>

    <p>
    录制视频课程与在现场的讲课方式有很大不同：
    </p>

    <ul>
      <li>得不到观众的反馈</li>
      <li>要投入大量的时间</li>
      <li>犯错误代价更大，复现场景需要时间</li>
      <li>课程完成后可能没人关注</li>
    </ul>

    <p>
    这些因素也导致了个人很少去制作视频课程。也导致了好的视频课程不多。 而尽早发布未完成的课程，可以让所有的负面影响都降到最低：
    </p>

    <ul>
      <li>早发布，就可以早获得反馈</li>
      <li>渐进式地发布课程，不用等到整个课程制作完成才发布，缩短了课程发布的时间</li>
      <li>每个视频尽量短小，这样后期更新的时候也更容易</li>
      <li>通过发布过程中积累的反馈就可以知道课程的改进方向是什么，更容易制作出满足用户需求的课程。</li>
      <li>随着课程的渐进式发布，如果课程一直没有人关注，这时候停止课程的录制也是正确的选择，而且代价也是最小的，因为没有在一条错误的道路上一直走下去。</li>
    </ul>
    <hr>
    <h2 id="make-video-in-mac"> 如何在mac下录制视频？ </h2>
    <p>
      <a href="http://haoqicat.com/happypeter">Peter</a>分享了他在mac下制作视频的过程，视频请点<a href="http://happycasts.net/episodes/88">这里</a>。另外，<a href="http://haoqicat.com/blog/9-ru-he-lu-shi-pin-ke-cheng">好奇博客</a>也有这个视频的简单介绍。
    </p>
</div>
