<div class="about-faq">
  <fieldset class="about-fieldset">
    <legend><h3><span class="label label-info"><i class="icon-info-sign icon-white"></i></span> 常见问题</h3></legend>
    <p><strong> 我们为什么选择视频网站的这种方式？</strong></p>
    <p>因为我们觉得这会给学习者带来最好的体验。</p>
    <p>我们希望每个人都能自由地学习——自由地选择适合自己的课程以及自由地选择时间去学习。</p>
    <p>学习成本极大的降低。我们的收费模式不是按照单个或者单套视频来收费，而是采用包月模式，价格是现场教学的1/100。</p>
    <p>让所有参与者都受益。对于老师来说，通过网络这个平台，可以让自己的知识传播的无限广阔，更大的增加自己的影响力，而不是只限于现场的几十到几百人。对于学习的人，通过视频的方式，可以很直观地看到实际操作的步骤。</p>
    <hr/>
    <p><strong>如何理解“节省所有参与者的时间”？</strong></p>
    <p>我们的网站主要服务于两类人：</p>
    <p>学生：可能我们学习过程中都有过这样的经历，当我们学习某门课程时，这门课程会涉及到很多成百上千的概念，而这些概念很多都是由一些晦涩难懂的公式组成，我们理解不了更记不住，更无从在实际环境中加以运用。而通过这种视频学习的方式，学生学到的都是实际环境中用到的东西，一些实际经验也更容易分享。 学习的最大成本不是金钱，而是时间。如果拿一个公式来表达的话： 学习时间 = 选择学习资料耗费的时间 + 学习到适合自己知识的时间 + 学习了对自己没用的知识所耗费的时间 。 通过我们的平台，我们希望使等式右边的第二部分（学习到适合自己知识的时间）尽可能大。</p>
    <p>老师：不同于现场的讲课方式，视频的方式只需要录制一次，节省下来的时间就可以投入到无限的创作中去。</p>
  </fieldset>
</div>
