<div class="about-jobs">
  <h1> 在好奇猫工作 </h1>
  <p>
  很高兴你对我们的职位感兴趣。我们是一个非常小的团队，目前有3个人，都是Rails开发者。我们目前没有任何投资，而且可能在一段时间内也不会去主动寻找投资。我们目前还无法支付你任何的薪水，我们需要的是co-founder而不是员工。
  </p>

  <h2> 职位 </h2>
  <hr>
  <h3> Ruby on Rails开发 </h3>
  <hr>
  <p>
  我们在找一个全栈的Ruby on Rails开发者，和我们一起，负责网站的前后端开发。
  </p>
  <h4> 主要职责 </h4>
  <ul>
    <li>探讨新功能，功能实施，到最后完成</li>
    <li>对现有功能的改进</li>
  </ul>

  <h4> 理想条件 </h4>
  <ul>
    <li>有Ruby on Rails实际项目开发经验</li>
    <li>有一定的前端经验（HTML，CSS，JS）</li>
    <li>喜欢分享，有一定的写作能力</li>
    <li>有持续学习新技术的热情</li>
    <li>有github帐号，并贡献过开源项目</li>
  </ul>

  <h4> 如何申请？ </h4>
  <ul>
    <li>告诉我们为什么想来好奇猫</li>
    <li>告诉我们你期望的工作场景是什么样的</li>
    <li>说一说关于你的事情。比如你喜欢玩什么？</li>
    <li>给我们看看你做过的项目或者其它让你有热情的东西</li>
  </ul>

  <h3> 产品设计 </h3>
  <hr>

  <p>
  作为好奇猫设计团队的开创者，你会参与到我们产品的开发流程中，从开始的新功能讨论到设计出好的使用流程和优美的用户界面，因此你的产品直觉，交互设计和视觉设计能力都可以有用武之地。
  </p>

  <h4> 主要职责 </h4>

  <ul>
    <li>从多个渠道获取数据，并以此为依据创造最好的用户体验</li>
    <li>可以将复杂抽象的概念转化成简单好用的界面</li>
    <li>参与到产品的策略中，可以提出革新的方案，也可以提升现有的功能</li>
  </ul>

  <h4> 理想条件 </h4>
  <ul>
    <li>很强的表达能力，可以将你的设计理念传达给整个团队</li>
    <li>对字体，颜色，布局等追求像素级的完美</li>
    <li>了解设计是如何转化为代码的（HTML，CSS，JS）</li>
    <li>有过在互联网或者移动平台上的设计经验</li>
  </ul>

  <h4> 如何申请？ </h4>
  <ul>
    <li>告诉我们为什么想来好奇猫</li>
    <li>告诉我们你期望的工作场景是什么样的</li>
    <li>说一说关于你的事情。比如你喜欢玩什么？</li>
    <li>给我们看看你做过的项目或者其它让你有热情的东西</li>
    <li>你是如何获取灵感的？</li>
  </ul>

  <h2> 我们如何工作？ </h2>
  <hr>
  <p>
  我们主要的交流和讨论都在github上进行，我们的项目也是<a href="https://github.com/happypeter/onestep">开源</a>的。我们相信最好的创业者始终以交付产品为导向，既可以独立完成工作，也懂得如何与团队协作。
  </p>

  <h2> 工作地点 </h2>
  <hr>
  <p>
  家里或者你喜欢的任何地点
  </p>

  <h2> 道德规范 </h2>
  <hr>
  <p>
  我们充分信任团队中的每个成员，我们也没有上下班打卡（办公室就在自己的家里）和KPI（是什么的缩写来着？）考核。你只需要设定自己的时间表和目标，然后完成目标。
  </p>
  <p>
  我们也充分理解每个人都要有时间休息，社交和处理家庭关系，我们的这种工作方式也让你实现这些目标非常简单。
  </p>
  <p>
  另外如果你对我们这个<a href="https://github.com/happypeter/onestep">开源项目</a>感兴趣并且想做些贡献的话，我们会非常高兴的。如果未来我们可以盈利，我们会优先考虑你加入我们的团队。
  </p>
</div>
