<div class="about-jobs">
  <fieldset class="about-fieldset">
    <legend><h3><span class="label label-info"><i class="icon-info-sign icon-white"></i></span> 关于选人</h3></legend>
    <p>我们会先用2个小时的电话面试来了解对方，还有18道流程和23种方法来确保我们可以找到适合我们的人。别担心，只是开个玩笑。我们更喜欢称这个过程为发现之旅，这个过程可能在我们工作的地方，也可能在篮球场边。</p>
  </fieldset>
  <fieldset class="about-fieldset">
    <legend><h3><span class="label label-info"><i class="icon-info-sign icon-white"></i></span> 关于成员</h3></legend>
    <p>我们是一群乐于分享，有些理想主义的人。我们每个人都有多种角色，可以是程序员，也参与设计，偶尔也是客服和项目经理。因此，我们觉得团队中的每个人都应该有下面的特质：</p>
    </p>
    <ul>
      <li>无论你是否看清生活的所有真相，你都要热爱生活。</li>
      <li>苛刻的诚信观。</li>
      <li>强烈的个人主义意识。</li>
    </ul>
    <p>还有一些我们也很喜欢的点： 单纯，不同，喜欢分享，有点偏执狂，完美主义。</p>
  </fieldset>
  <fieldset class="about-fieldset">
    <legend><h3><span class="label label-info"><i class="icon-info-sign icon-white"></i></span> 关于管理</h3></legend>
  <p>我们厌倦大公司里繁多的规章制度，没完没了的会议，公司的目标对于个人始终不是一个方向。因此我们的目标不是成为大公司，我们会刻意保持公司的“小”。</p>
  </p>
  <p>追求自由和喜欢探索是我们的生活方式，因此我们很小心的使用“公司”这个词，因为当前这个词更多的表示一种压抑的氛围，一种机械的工作方式。我们希望我们这个团队回归到公司的最原始目的，就是希望通过这种形式，把一群志同道合的人聚拢起来，形成一股比单个人强的多的力量，一起实现我们的目标。</p>
  </p>
  <p>我们不会有很多的规章制度，我们倡导Y型管理。我们相信发挥人的主观能动性才会创造最大的价值，特别是对于需要创造力的事情而言更是如此。因此，你不需要上下班打卡，不需要每天一定要坐在办公室里规定的时间，甚至如果你觉得在家里工作效率更高，你可以在家里工作（我相信你大多数时候会愿意与这些有趣的人一起工作的，但不强迫）。</p>
  </p>
  <p>你可能会问，如何保证每个人都会努力工作呢？我们的回答是：因为我们相信。衡量一个人的价值不是用时间，而是她的作品。我们希望团队中的每个人都有一种自然的工作状态，这种自然就是，要么不要工作，要么保持效率最大化。</p>
  </p>
  <p>我们也不会单独地有经理这个职位，如果有的话，也是团队中的成员轮流担当，而且我们更有可能叫他“协调员”，没有特权。</p>
  </fieldset>
</div>
