<div class="about-main">
    <h1>好奇猫是什么</h1>
    <hr>
    <p>
    在这个内容大爆炸的时代，很多网站都把内容的消费者作为网站的核心，所以超过别的网站获取更多用户的做法往往是，更快更多——更多的内容，更多的功能。用户的多少当然是检验一个网站是否优秀的指标，但最后往往忽略了网站最重要的群体的体验——内容的创作者。

    </p>
    <p>
    作为一个通过视频课程分享知识的平台，我们希望视频课程的创造者可以得到足够的关注，因为他们在很认真地制作视频课程的每一秒，他们让我们感受到对极致的不懈追求。

    </p>
    <p>
    好奇猫会一直致力于为视频课程的制作者提供优质的服务，让他们持续地产出更多更优质的视频课程。
    </p>

    <h1>好奇猫有什么</h1>
    <hr>
    <p>在这里你可以发布视频课程，也可以学习视频课程。</p>

    <h2> 发布视频课程 </h2>
    <ul>
      <li>创建课程十分简单，只需要填写课程名称</li>
      <li>价格设定灵活，可以设定整个课程免费，也可以设定某个视频免费</li>
      <li>鼓励渐进式发布课程，不用一次性制作完成整个课程才发布，可以一次发布一个视频，根据反馈继续制作课程发布</li>
      <li>鼓励微视频</li>
    </ul>

    <h2> 学习视频课程 </h2>
    <ul>
      <li>清爽的页面，让你专注于学习</li>
      <li>优秀的作者和课程</li>
      <li>课程时间线，让你清楚了解课程的进化史</li>
      <li>通过关注课程可以让你实时跟踪课程的最新动态</li>
    </ul>
</div>
