<div class="about-main">
  <fieldset class="about-fieldset">
    <legend><h3><span class="label label-info"><i class="icon-info-sign icon-white"></i></span> 关于好奇猫</h3></legend>
    <p>好奇猫是一个给想学习web开发的人提供视频课程的网站。我们希望在任何时间和地点，你都可以通过好奇猫学习。</p>
  </fieldset>
  <fieldset class="about-fieldset">
    <legend><h3><span class="label label-info"><i class="icon-info-sign icon-white"></i></span> 我们是谁</h3></legend>
    <p>在这么多年的学习过程中，我们常常为了没有一个好的学习资源而苦恼。对于web设计的学习，我们通常的学习方式是去国外的网站学习，看英文的书，学习他们的优秀思想。对于我们自己的能力是提高了一些，但是对于喜欢看中文资料的人，很多的资料只是国外优秀资料的只言片语，或者外文的中文翻译质量不好，以及翻译的不及时，都会对学习过程有很大的影响。学校的教育更偏重于理论教育，导致了学生在考试方面更擅长，而动手操作方面始终是一个弱项。因此我们就想，我们能为国内的教育做点什么呢？于是我们几个人决定一起做一个产品，这也就是这篇文章里“我们”的由来，我们做的这个产品要包括以下特点：</p>
    <ul>
      <li>偏重于实际开发，开发中用不到的不涉及。</li>
      <li>做一个线上学习web开发的平台。</li>
      <li>节省所有参与者的时间。</li>
    </ul>
    <p>最后我们决定做一个视频网站，视频内容专注于web开发技术。我们把这个网站定位为教育类网站，因为我们有很多人都从事过教育相关的工作，而且最重要的是，我们热爱教育，喜欢分享，我们希望通过我们的努力，给对web开发有兴趣的人提供一种高效率的学习方式。</p>
  
    <p>我们希望给学习的人和教授知识的人/老师提供一个好的平台。通过这个平台，老师们可以展示自己的技能，学习者可以用较少的时间学到有用的知识。如果说大学里教授的知识只有15%能用到实际中，那我们就只教授那15%的知识。教育是一个很复杂的工程，我们知道，要做到这一点，很难。我们常说，有困难不可怕，可怕的是没有方向。我们现在已经有了一个很好的方向，以后的工作就是朝着这个目标努力。</p>
  </fieldset>
</div>
