<div class="chinese">
  <div class="employee-container">
    <div class="employee-thumbnail">
      <a href="#"><img src='/assets/team/hejiasheng.jpg'></a>
      <h3><a href="#">@何家胜</a></h3>
    </div>
    <!-- closes employee-thumbnail -->
    <div class="employee-thumbnail">
      <a href="http://luckyyang.github.com"><img src='/assets/team/luckyyang.jpg'></a>
      <h3><a href="http://luckyyang.github.com">@刘吉洋</a></h3>
    </div>
    <!-- closes employee-thumbnail -->
    <div class="employee-thumbnail">
      <a href="http://happypeter.github.com"><img src='/assets/team/peter.jpeg'></a>
      <h3><a href="http://happypeter.github.com">@Peter Wang</a></h3>
    </div>
    <!-- closes employee-thumbnail -->
  </div>
  <!-- closes employee-container -->
</div>
