<div class="about-team">
  <h1>团队成员</h1>
  <hr>
  <div class="employee-container">
    <div class="employee-thumbnail">
      <a href="/billie66"><%= image_tag @billie66.final_avatar_url %></a>
      <h3><a href="/billie66">@billie66</a></h3>
    </div>
    <div class="employee-thumbnail">
      <a href="/happypeter"><%= image_tag @happypeter.final_avatar_url %></a>
      <h3><a href="/happypeter">@Peter Wang</a></h3>
    </div>
    <div class="employee-thumbnail">
      <a href="/luckyyang"><%= image_tag @luckyyang.final_avatar_url %></a>
      <h3><a href="/luckyyang">@刘吉洋</a></h3>
    </div>
  </div>
</div>
