<div class="about-team">
  <h3><span class="label label-info"><i class="icon-info-sign icon-white"></i></span> 团队成员</h3>
  <hr/>
  <div class="employee-container">
    <div class="employee-thumbnail">
      <a href="http://happypeter.github.com"><img src='/assets/team/peter.jpeg'></a>
      <h3><a href="http://happypeter.github.com">@Peter Wang</a></h3>
    </div>
    <!-- closes employee-thumbnail -->
    <div class="employee-thumbnail">
      <a href="http://luckyyang.github.com"><img src='/assets/team/luckyyang.jpg'></a>
      <h3><a href="http://luckyyang.github.com">@刘吉洋</a></h3>
    </div>
    <!-- closes employee-thumbnail -->
  </div>
  <!-- closes employee-container -->
</div>
