<div class="menu-container">
  <ul class="menu">
    <li><a class="<%= request.path == "/styleguide/css"? "active":"" %>" href="/styleguide/css">Overview</a></li>
    <li><a class="<%= request.path == "/styleguide/css/1.0"? "active":"" %>" href="/styleguide/css/1.0">Buttons</a></li>
    <li><a class="<%= request.path == "/styleguide/css/2.0"? "active":"" %>" href="/styleguide/css/2.0"></i>Colors</a></li>
  </ul>
</div>
