<div class="styleguide-example">
  <h3>
    2.1
    <em>
      <a href="">variables.css.scss</a>
    </em>
  </h3>
  <div class="styleguide-description markdown-format">
    <p>All brand colors</p>
  </div>
  <div style="background:#008C7E;" class="styleguide-color">$brand-linkGreen</div>
  <div style="background:#666;" class="styleguide-color">$brand-medGrey</div>
  <div style="background:#6CC644;" class="styleguide-color">$brand-green</div>
  <div style="background:#BD2C00;" class="styleguide-color">$brand-red</div>
  <div class="styleguide-html">
    <%= '<div style="background:#008C7E;" class="styleguide-color">$brand-linkGreen</div>' %>
  </div>
</div>
