<% kss_block '3.1' do %>
  <div class="comment">
    <div class="comment-header">
      <i class="fa fa-comment"></i>
      <a href="/happypeter" class="comment-header-author">happypeter</a>
      说
      <span class="comment-header-right">
        <span class="comment-header-date">
          18 天前
        </span>
      </span>
    </div>
    <div class="comment-content ">
      <div class="edit-comment-hide">
        <div class="comment-body markdown-format">
          <p>@limkurn  欢迎，已经又录好了3个视频，最近几天就会更新上来，多提一些批评建议吧，以前没录过成套课程，肯定问题不少。</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
