<% kss_block '5.1' do %>
<div class="course-thumb center-course-thumb light-shadow">
  <div class="course-main">
    <img src="http://media.haoqicat.com/course_poster/default.jpg" alt="poster">
    <div class="course-title">
      支付宝收款集成
      <div class="course-private-label"><i class="fa fa-lock fa-2x"></i></div>
    </div>
    <div class="course-desc">
      介绍如何在我们自己的网站中集成支付包收款接口。配有一套完整的 Rails 项目实例代码。
    </div>
    <div class="course-author">
      <img src="http://haoqicat.com/assets/team/peter-dbff066be775902c09eab4d5ac4876cd.jpeg" alt="avatar" class="course-thumb-avatar">
      happypeter
    </div>
  </div>
</div>
<% end %>
