<% kss_block '5.1' do %>
  <div class="course-thumb">
    <a href="#" class="course-detail green-box-shadow">
      <div class="poster-area" style="background-image: url(http://media.haoqicat.com/course_poster/default.png);"></div>
      <div class="course-info">
        <h4>
          支付宝收款集成
          <span class="private-label">课程未公开</span>
        </h4>
        <p>介绍如何在我们自己的网站中集成支付包收款接口。配有一套完整的 Rails 项目实例代码。</p>
      </div>
    </a>
    <ul class="course-actions">
      <li><a href="#">编辑</a></li>
      <li><a href="#" data-confirm="确定要删除吗?" data-method="delete" rel="nofollow">删除</a></li>
    </ul>
    <div class="course-author">
      <a href="#">happypeter</a>
    </div>
  </div>
<% end %>
