<% kss_block '8.1' do %>
  <dl class="form">
    <dt><label>Example Text</label></dt>
    <dd><input type="text" value="Example Value" class="$modifier_class"></dd>
  </dl>
<% end %>

<% kss_block '8.2' do %>
  <form>
    <dl class="form ">
      <dt><label>Name</label></dt>
      <dd>
      <input type="text" value="Peter Wang">
      </dd>
    </dl>
    <dl class="form">
      <dt><label>New password</label></dt>
      <dd><input type="password"></dd>
    </dl>
    <p>
    <button class="button">Update Password</button>
    </p>
  </form>
<% end %>
