<h1>
  CSS Styleguide
</h1>

<div class="mardown-body">
  <p>
    我们会把网站上常用的零部件的 css 和 html
    抽出来总结到这里，大家可以在用到某个零件的时候到这里参考。于是整个网站的零件的
    html 就会统一，这也更方便了 css 的开发和复用。
  </p>

  <p>我们的 css 结构组织哲学完全照搬<a href="https://github.com/styleguide/css"> Github</a></p>
</div>
