<% kss_block '9.1' do %>
  <ol class="member-list">
    <li class="member-list-item">
      <a href="/happypeter"><%= image_tag User.find_by_name('happypeter').final_avatar_url, :class => "gavatar"%></a>
    <div class="member-list-container">
      <h3 class="member-name">
        <a href="/happypeter">happypeter</a>
      </h3>
      <p class="courses">courses: 6</p>
      <p class="comments">comments: 9</p>
      <p class="join-date">joined: 2012-06-16</p>
    </div>
    </li>
    <li class="member-list-item">
      <a href="/happypeter"><%= image_tag User.find_by_name('luckyyang').final_avatar_url, :class => "gavatar"%></a>
    <div class="member-list-container">
      <h3 class="member-name">
        <a href="/luckyyang">luckyyang</a>
      </h3>
      <p class="courses">courses: 3</p>
      <p class="comments">comments: 10</p>
      <p class="join-date">joined: 2012-08-16</p>
    </div>
    </li>
  </ol>
<% end %>
