<% kss_block '4.1' do %>
<div class="menu-container $modifier_class">
  <ul class="menu">
    <li><a class="main" href="/about">关于我们</a></li>
    <li><a class="team" href="/about/team"> 团队成员</a></li>
    <li><a class="jobs" href="/about/jobs"> 加入我们</a></li>
    <li><a class="faq" href="/about/faq"> 常见问题</a></li>
  </ul>
</div>
<% end %>
