<% kss_block '6.1' do %>
  <table class="table $modifier_class">
    <thead>
      <tr>
        <th>名称</th> <!-- Subject -->
        <th>价格</th>
        <th>数量</th>
        <th>合计</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>The Subject</td>
        <td>￥10</td>
        <td>2</td>
        <td>￥20</td>
      </tr>
      <tr>
        <th colspan="3">合计</th>
        <td>￥20</td>
      </tr>
    </tbody>
  </table>
<% end %>
