/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "vendor/twitter/style.css";
@import "vendor/twitter/grid.css";
@import "vendor/bootstrap";

$main_width: 960px;

#container {
  width:$main_width;
  text-align:left;
  margin:0 auto;
}

#navbar {
  border-bottom: 2px solid #abc;
  padding-bottom: 0.5em;
  ul.pull-right{
    list-style: none;
    position: relative;
    float: right;
    margin-top: 40px;
    li {
      margin-left: 5px;
      float: left;
      display: block;
    }
  }
}

a {
  color: green;
}

#notice {
  color: green;
}

ol#repos {
// by default, ol has padding-left: 40px for items, which is not I want
  padding: 0px;
}
