// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog {
  background-color: white;
  .post-listing {
    float: left;
    width: 50%;
    .blog-post {
      border-top: 1px solid #EEE;
      padding-bottom: 30px;
      @include chinese-style;
      .top-rule {
        margin-bottom: 16px;
        width: 16px;
        border-top: 2px solid #EEE;
      }
      h2.title {
        margin-top: 10px;
        color: #4183C4;
        font-size: 30px;
      }
      .markdown-body {
        @include markdown-style;
      }
    }
  }
}
