$comment-color: #E0E8EC;
div.comment {
  a {
    text-decoration:none;
    &:hover {
      text-decoration: underline; 
    }
  }
  .comment_head {
    font-weight: bold;
    font-size: 80%;
    color: hsl(0, 0%, 40%);
    .comment_time {
      float: right;
      margin-right: 10px;
    }
  }
  .comment_body {
    position: relative;
    ul.actions {
      margin-top: 0px;
      position: absolute;
      top: 0px;
      right: 5px;
      list-style: none;
      li {
        display:inline-block;
        vertical-align:top;
      }
      &:hover{
        a {
          text-decoration: none;
        }
     }
    }
  }
  #comment_box {
    margin-top: 10px;
    text-align: center;
    textarea
    {
      width: 100%;
      height: 88px;
      margin-bottom: 9px;
      padding: 0;
      @include textarea-style;
    }
  }
  #comment_btn {
    margin-top: 10px;
    float: right;
    margin-bottom: 40px;
  }
}

.edit_comment_form {
  .comment_body {
    position: relative;
    height: 240px;
  }
  textarea {
    width: 98%;
    display: block;
    height: 180px;
  }
  #comment_btn {
    float: none;
    position: absolute;
    top: 190px;
    right: 10px;
  }
}
