.course-show {
  margin-top: 40px;
}
div#html5-player {
  border: 1px solid $light-gray;
  width: 768px;
  margin: 0 auto;
  video#videojs {
    display: block;
  }
}
.course-panel {
  .poster-area {
    margin: 0 auto;
    width: 310px;
    min-height: 175px;
    position: relative;
    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50px;
      margin-top: -15px;
      margin-left: 80px;
    }
  }
  border: 1px solid darken($light-gray, 20%);
  width: 320px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.course-info {
  width: 320;
  color: red;
  bottom: 0;
  margin: 0 auto;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  @include chinese-style;
  h4 {
    padding: 5px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  a {
    display: block;
    font-size: 18px;
    padding-left: 5px;
  }
}
