.course-show {
  margin-top: 40px;
}
div#html5-player {
  border: 1px solid $light-gray;
  width: 768px;
  margin: 0 auto;
  video#videojs {
    display: block;
  }
}
.course-panel {
  background-color: white;
  img {
    display: block;
    margin: 0 auto;
    border: 1px solid darken($light-gray, 20%);
    padding: 5px;
  }
  width: 310px;
  margin: 0 auto;
  .course-info {
    width: 100%;
    color: red;
    bottom: 0;
    overflow: hidden;
    margin-bottom: 30px;
    @include chinese-style;
    h4 {
      padding: 5px;
      font-size: 25px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    a {
      display: block;
      font-size: 18px;
      &:hover {
        text-decoration: none;
      }
      padding-left: 5px;
    }
  }
}
