div#html5-player {
  border: 1px solid $light-gray;
  width: 768px;
  margin: 0 auto;
  video#videojs {
    display: block;
  }
  #title_area {
   padding: 10px;
   border: 3px solid $light-blue;
   h2 {
     margin-bottom: -10px;
   }
   p.light {
     font-size: 90%;
     color: $light-green;
   }
  }
}
#video_create_box {
  padding-left: 40px;
}

.all_courses_container {
  background-color: $light-gray;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 30px;

  .course_panel {
    background-color: white;
    &:hover {
      border: 1px solid darken($light-gray, 60%);
    }
    img {
      display: block;
      margin: 0 auto;
    }
    width: 310px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid darken($light-gray, 20%);
    .course_info {
      padding: 5px;
      text-align: center;
    }
  }
}
