$light-gray: #ececec;
$light-green: #75AE07;
$light-blue: #7ac9de;
@mixin onestep-shadow {
  -webkit-box-shadow: 0 0 6px $light-gray;
  -moz-box-shadow: 0 0 6px $light-gray;
  box-shadow: 0 0 6px $light-gray;
}
@mixin no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin chinese-style {
  font-family: 'Microsoft YaHei', 微软雅黑, 'SimSun', Arial, Lucida Grande, Tahoma, sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: rgb(102, 102, 102);
  letter-spacing: 2px;
}
@mixin textarea-style {
  display: inline-block;
  border: 1px solid darken($light-gray, 20%);
  font-size: 120%;
  @include rounded-corners(3px);
  @include no-shadow;
  &:focus
  {
    border: 1px solid darken($light-gray, 50%) ;
    @include onestep-shadow;
  }
}
.box {
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #E2E2E9;
  margin-bottom: 20px;

  .cell, .box-header {
    padding: 10px;
    border-bottom: 1px solid #F0F0F0;
  }

  .inner {
    padding: 10px;
  }

  .header {
    padding: 10px;
    border-bottom: 1px solid #E2E2E2;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: whiteSmoke;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  code {
    margin: 0px;
    border: 0px;
    padding: 0px;
  }
}
code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}

@mixin markdown-style {
  ul {
    padding-left: 30px;
  }
  h1 {
    font-size: 18px;
    font-weight: normal;
    color: rgb(0, 153, 138);
  }
  h2 {
    font-size: 14px;
    font-weight: normal;
    color: rgb(0, 153, 138);
  }
  img {
    padding: 1px;
    border: 1px solid #EEE;
  }
  blockquote {
    font-style: italic;
    position: relative;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid rgba(170, 170, 170, 0.5);

  }
}
