<li>
  <span><%= image_tag "#{activity.action}.svg" %></span>
  <span class="desc">
    <%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
  </span>
  <span class="time"><%= activity.created_at.month %>.<%= activity.created_at.day %></span>
</li>
