<li>
  <span><%= image_tag "#{activity.action}.svg" %></span>
  <span class="desc">
    <%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
  </span>
  <span class="time"><%= time_ago_in_words activity.created_at %><%= t 'ago' %></span>
</li>
