<h1> Course Activities </h1>
<% @activities.each do |activity| %>
  <%= div_for activity do %>
    <%= link_to activity.user.name, member_path(activity.user.name) %>
    <%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
  <% end %>
<% end %>
