<div class="container">
  <div class="timeline-title">
    <%= @author_count %> 名创作者共发布了 <%= @activity_count %> 次更新
  </div>
  <%= render 'course_grouped_timeline', groups: @groups, date: @date %>
</div>
