<aside class="span3">
  <div class="span9">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= request.path == "/about"? "active about":"about" %>"><a href="/about"><i class="icon-heart"></i> 关于我们</a></li>
      <li class="<%= request.path == "/about/team"? "active team":"team" %>"><a href="/about/team"><i class="icon-user"></i> 团队成员</a></li>
      <li class="<%= request.path == "/about/work"? "active work":"work" %>"><a href="/about/work"><i class="icon-eye-open"></i> 加入我们</a></li>
    </ul>
    <h3>找到我们</h3>
    <p>我们希望听到你的声音，哪怕是一句早上好。给我们<a class="" href="mailto:2411mail@gmail.com"><span><i class="icon-envelope"></i></span></a>吧。</p>
    <p><span class="label label-info"><i class="icon-envelope icon-white"></i> Email</span><br/> <a class="" href="mailto:2411mail@gmail.com">2411mail@gmail.com</a></p>
  </div>
</aside>
