  <ul class="nav nav-pills nav-stacked">
    <li class="<%= request.path == "/about"? "active about":"about" %>"><a href="/about"><i class="icon-book"></i>About</a></li>
    <li class="<%= request.path == "/about/team"? "active team":"team" %>"><a href="/about/team"><i class="icon-user"></i>Team</a></li>
    <li class="<%= request.path == "/about/work"? "active work":"work" %>"><a href="/about/work"><i class="icon-map-marker"></i>Work</a></li>
  </ul>
  <h3>Contact</h3>
  <p>We'd be glad to hear from you, if you have anything to say, you can email the site admin</p>

