<div class="container chinese">
  <section class="row-fluid">
     <%= render 'aside' %>
      <div class="span9">
        <ul class="thumbnails row-fluid">
          <li class="span3">
            <article  class="thumbnail">
              <a href="http://luckyyang.github.com/about"><img src='/assets/test/luckyyang.jpg' class="img-circle"></a>
              <h3>刘吉洋</a></h3>
            </article>
          </li>
          <li class="span3">
            <article  class="thumbnail">
              <img src='/assets/test/peter.jpeg' class="img-circle">
              <h3><a href="http://happypeter.github.com">Peter Wang</a></h3>
            </article>
          </li>
          <li class="span3">
            <article class="thumbnail">
              <img src='/assets/test/2.png' class="img-circle">
              <h3>stuff name</h3>
            </article>
          </li>
          <li class="span3">
            <article class="thumbnail">
              <img src='/assets/test/3.jpeg' class="img-circle">
              <h3>stuff name</h3>
            </article>
          </li>
        </ul>
        <ul class="thumbnails row-fluid">
          <li class="span3">
            <article  class="thumbnail">
              <a href="http://luckyyang.github.com/about"><img src='/assets/test/luckyyang.jpg' class="img-circle"></a>
              <h3 style="text-align:center;"><a href="http://luckyyang.github.com/about">刘吉洋</a></h3>
            </article>
          </li>
          <li class="span3">
            <article  class="thumbnail">
              <img src='/assets/test/peter.jpeg' class="img-circle">
              <h3><a href="http://happypeter.github.com">Peter Wang</a></h3>
            </article>
          </li>
          <li class="span3">
            <article class="thumbnail">
              <img src='/assets/test/2.png' class="img-circle">
              <h3>stuff name</h3>
            </article>
          </li>
          <li class="span3">
            <article class="thumbnail">
              <img src='/assets/test/3.jpeg' class="img-circle">
              <h3>stuff name</h3>
            </article>
          </li>
        </ul>

        <ul class="thumbnails row-fluid">
          <li class="span3">
            <article  class="thumbnail">
              <a href="http://luckyyang.github.com/about"><img src='/assets/test/luckyyang.jpg' class="img-circle"></a>
              <h3 style="text-align:center;"><a href="http://luckyyang.github.com/about">刘吉洋</a></h3>
            </article>
          </li>
          <li class="span3">
            <article  class="thumbnail">
              <img src='/assets/test/peter.jpeg' class="img-circle">
              <h3><a href="http://happypeter.github.com">Peter Wang</a></h3>
            </article>
          </li>
          <li class="span3">
            <article class="thumbnail">
              <img src='/assets/test/2.png' class="img-circle">
              <h3>stuff name</h3>
            </article>
          </li>
          <li class="span3">
            <article class="thumbnail">
              <img src='/assets/test/3.jpeg' class="img-circle">
              <h3>stuff name</h3>
            </article>
          </li>
        </ul>
      </div>
  </section>
</div>
