<div class="container chinese">
  <section class="row-fluid">
     <%= render 'aside' %>
      <div class="span9">
        <ul class="thumbnails row-fluid">
          <li class="span3">
            <article  class="thumbnail">
              <a href="#"><img src='/assets/team/hejiasheng.jpg' class="img-circle"></a>
              <h3><a href="#">何家胜</a></h3>
            </article>
          </li>
          <li class="span3">
            <article  class="thumbnail">
              <a href="http://luckyyang.github.com"><img src='/assets/team/luckyyang.jpg' class="img-circle"></a>
              <h3><a href="http://luckyyang.github.com">刘吉洋</a></h3>
            </article>
          </li>
          <li class="span3">
            <article  class="thumbnail">
              <a href="http://happypeter.github.com"><img src='/assets/team/peter.jpeg' class="img-circle"></a>
              <h3><a href="http://happypeter.github.com">Peter Wang</a></h3>
            </article>
          </li>
        </ul>
      </div>
  </section>
</div>
