<% content_for :content do %>
  <div class="container about">
    <div class="left-col ">
      <%= render 'about/aside' %>
    </div>
    <div class="about-content">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
